/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/

// font stacks
$sans-serif:        "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, "Times New Roman", Times, serif;
$condensed:         "franklin-gothic-urw-cond", $sans-serif;
$headline_font:     $condensed, $sans-serif;
$compressed:         "franklin-gothic-urw-comp", $sans-serif;
$ext-compressed:    "franklin-gothic-ext-comp-urw", $compressed;


/*
Ligatures and Hyphenation
*/
p {
  // Word Breaks
  /*-ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;*/

  // cleaning up the ragged lines and breaks
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;

  // sets a minimum number of characters before and after the break
    /*
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;
    */

  // enabling fancy ligatures when available
    /*
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    */
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #7b838b;
  font-family: $sans-serif;
  font-size: 16px;
  font-size: 1rem;
    line-height: 1.5;
  //letter-spacing: .7px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headline_font;
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  color: $primary-color;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1, .h1 {
  font-size: 56px;
  font-size: 3.5rem;
  //line-height: 56px;
  //line-height: 3.5rem;
  letter-spacing: -.56px;
  letter-spacing: -.035rem;
}

h2, .h2 {
  font-size: 40px;
  font-size: 2.5rem;
  //line-height: 40px;
  //line-height: 2.5rem;
  letter-spacing: -.4px;
  letter-spacing: -.025rem;
}

h3, .h3 {
  font-size: 32px;
  font-size: 2rem;
  //line-height: 38px;
  //line-height: 2.375rem;
  letter-spacing: -.4px;
  letter-spacing: -.025rem;
}

h4, .h4 {
  font-size: 24px;
  font-size: 1.5rem;
  //line-height: 32px;
  //line-height: 2rem;
  letter-spacing: -.24px;
  letter-spacing: -.015rem;
}

h5, .h5 {
  font-size: 20px;
  font-size: 1.25rem;
  //line-height: 18px;
  //line-height: 1.125rem;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  //line-height: 16px;
  //line-height: 1rem;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

p {
  margin: 0 0 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5rem;
}

address {
  margin: 0 0 1.5rem;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}
