/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.footer-sidebars-wrapper {
  margin: 4.6875rem 0 0 0;
  padding: 3rem 5px 1rem;
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper {
    padding: 4rem 75px 1rem;
  }
}

.footer-sidebars-wrapper .footer-sidebars {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-sidebars-wrapper .footer-sidebars .widget-area {
  padding: 0 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 1030px) {
  .footer-sidebars-wrapper .footer-sidebars .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-40-20-20-20 .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
  }
}

@media (min-width: 1030px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-40-20-20-20 .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
}

.footer-sidebars-wrapper .footer-sidebars.has-layout-40-20-20-20 .widget-area:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (min-width: 1030px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-40-20-20-20 .widget-area:first-child {
    padding-right: 5%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-33-33-33-100 .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-33-33-33-100 .widget-area:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-100-33-33-33 .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-100-33-33-33 .widget-area:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-100-50-50-100 .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-100-50-50-100 .widget-area:last-child, .footer-sidebars-wrapper .footer-sidebars.has-layout-100-50-50-100 .widget-area:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (min-width: 768px) {
  .footer-sidebars-wrapper .footer-sidebars.has-layout-50-50-50-50 .widget-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget:last-child {
  margin-bottom: 0;
}

.widget select {
  max-width: 100%;
}

.widget .widget-title {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 1em;
}



.widget_nav_menu .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget_nav_menu .menu a {
  color: inherit;
}

.widget_nav_menu .menu a:hover {
  color: #8f4ec7;
  text-decoration: none;
}

.widget_nav_menu .menu li {
  margin-top: .5em;
}