/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*
Ligatures and Hyphenation
*/
p {
  /*-ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;*/
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  /*
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  */
  /*
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  */
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #7b838b;
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif, "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #492F92;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1, .h1 {
  font-size: 56px;
  font-size: 3.5rem;
  letter-spacing: -0.56px;
  letter-spacing: -0.035rem;
}

h2, .h2 {
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: -0.4px;
  letter-spacing: -0.025rem;
}

h3, .h3 {
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: -0.4px;
  letter-spacing: -0.025rem;
}

h4, .h4 {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: -0.24px;
  letter-spacing: -0.015rem;
}

h5, .h5 {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 1.6px;
  letter-spacing: 0.1rem;
}

h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 1.6px;
  letter-spacing: 0.1rem;
}

p {
  margin: 0 0 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5rem;
}

address {
  margin: 0 0 1.5rem;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
VERTICAL ALIGNMENT
*********************/
/*********************
BORDER RADIUS
*********************/
/* @include border-radius(3px, 3px, 3px, 3px); */
/*********************
FLEX
*********************/
/* @include flex(direction); */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*-------------------------------------------
## WordPress overrides or custom edits
--------------------------------------------*/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.mobile_only {
  display: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.menu {
  list-style: none;
}
.menu li {
  margin-right: 12px;
}
.menu li:last-child {
  margin-right: 0px;
}

.secondary_menus .utility_menu {
  margin-left: auto;
}
.secondary_menus .menu li {
  margin-right: 0;
}
.secondary_menus .menu li.menu-item-has-children {
  margin-right: 12px;
}
.secondary_menus .menu li.menu-item-has-children:last-child {
  margin-right: 0;
}
.main-navigation-wrapper .sub-menu-wrap {
  width: 100%;
  right: 0;
  max-width: 845px;
  top: 100%;
}
.main-navigation-wrapper .menu-content {
  margin-top: 21px;
}
.main-navigation-wrapper .cat-wrap .b-buttons-group__button_1 {
  font-size: 14px;
}
.main-navigation-wrapper .hidden-links a:before {
  display: none;
}
.main-navigation-wrapper .hidden-links .sub-menu-wrap {
  display: none;
}
.main-navigation-wrapper .hidden-links li {
  float: none;
}
.main-navigation-wrapper .hidden-links li > a {
  padding: 0.5rem 1.25rem;
  color: #492F92 !important;
}
/*--------------------------------------------------------------
## Secondary Menu for Overview Pages
--------------------------------------------------------------*/
.b-secondary-header {
  padding-top: 12rem;
}

.b-secondary-header__image {
  margin-bottom: 3rem;
  bottom: 0rem;
  overflow: hidden;
  height: auto;
}
.b-secondary-header__image:after {
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 60%);
}
.b-secondary-header__image .post-thumbnail img {
  width: 100%;
  height: auto;
  transform: translateY(-23%);
}

.b-secondary-header__headline {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.b-secondary-header-menubox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.b-secondary-header-menubox__page-title {
  flex-basis: 25%;
  border-bottom: none;
  flex-grow: 1;
}

.b-secondary-header-menubox__menu-container {
  flex-grow: 1;
  border-left: 1px solid #ffd35c;
}

.b-secondary-header-menubox__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-main {
  padding-left: 95px;
  padding-right: 95px;
}

.hentry > .entry-content > *.alignfull {
  max-width: calc(100% + 95px + 95px);
  margin-left: -95px;
  margin-right: -95px;
}

body.page .site-main > .hentry > .entry-content > *.alignfull {
  max-width: calc(100% + 95px + 95px);
  margin-left: -95px;
  margin-right: -95px;
}

body.blog .site-main > .hentry, body.search .site-main > .hentry, body.archive .site-main > .hentry {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

body.blog .site-main > .hentry > .post-thumbnail-wrapper, body.search .site-main > .hentry > .post-thumbnail-wrapper, body.archive .site-main > .hentry > .post-thumbnail-wrapper {
  flex: 1 1 25%;
  order: 2;
}

body.blog .site-main > .hentry > .entry-header, body.search .site-main > .hentry > .entry-header, body.archive .site-main > .hentry > .entry-header {
  flex: 1 1 75%;
  order: 1;
  padding: 0 0 12px 0;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
  padding: 3.125rem;
}

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
  padding: 3.125rem 95px;
}

.site-footer_copyright {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.site-footer_copyright .site-info {
  order: 1;
}
.site-footer_copyright .footer-utility-menu {
  order: 2;
}
.site-footer_copyright .footer-utility-menu ul.b-footer-utility li {
  width: auto;
  float: left;
  position: relative;
}
.site-footer_locations .locations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# LATEST POSTS GUTENBERG BLOCK
--------------------------------------------------------------*/
.b-posts-panel {
  position: relative;
}
.b-posts-panel .b-latest-posts__bkg {
  height: 100%;
  max-height: 175px;
}
.b-posts-panel .b-posts-wrapper {
  z-index: 2;
  position: relative;
}
.b-posts-panel .b-posts-wrapper section.b-columns {
  padding-top: 0;
  margin-top: 1.5rem;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}
.b-posts-panel .b-posts-wrapper section.b-columns:before {
  top: 10rem;
}
.b-posts-panel article {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: none;
  margin-bottom: 0.75rem;
}
.b-posts-panel .hentry .post-thumbnail-wrapper {
  flex-basis: 100%;
  margin-bottom: 1rem;
  order: 1;
  position: relative;
  border-radius: 0;
  max-width: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.b-posts-panel .hentry .post-thumbnail-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.b-posts-panel .hentry .post-thumbnail-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.b-posts-panel .hentry .post-thumbnail-wrapper img {
  border-radius: 0px;
}
.b-posts-panel .hentry .entry-header {
  flex-basis: 100%;
  order: 2;
  margin: 0;
  margin-bottom: 0;
  padding-right: 16px;
}
.b-posts-panel .hentry .entry-meta {
  display: none;
}
.b-posts-panel .hentry .entry-content {
  display: block;
  order: 3;
}

/*--------------------------------------------------------------
# STAFF PROFILE GUTENBERG BLOCK
--------------------------------------------------------------*/
.b-staff-panel > .b-columns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}
.b-staff-panel.b-staff-panel_top_intro .b-staff-cards {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b-staff-panel.b-staff-panel_top_intro .b-staff-panel__intro .has-text-align-center {
  text-align: center;
}
.b-staff-panel .b-staff-panel__intro {
  text-align: left;
}
.b-staff-panel .b-staff-panel__intro .has-text-align-center {
  text-align: left;
}
/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
/*-------------------------------------------
# ACF LAYOUT BLOCKS
--------------------------------------------*/
/*-------------------------------------------------
## Shared Section Block Styles
---------------------------------------------------*/
.b-subhead, .b-section__subtitle {
  margin-top: 0;
  font-size: 32px;
  font-size: 2rem;
}

.b-section__text {
  margin-bottom: 2.5rem;
}

.b-section__wrap-inner {
  padding: 3em 0;
}

.b-section_outer-pad {
  margin: 3em 0;
}

.b-section_collapsed-top .b-section__wrap-inner {
  padding-top: 0;
}

.b-section_collapsed-bottom .b-section__wrap-inner {
  padding-bottom: 0;
}

.b-section_collapsed-both .b-section__wrap-inner {
  padding-top: 0;
  padding-bottom: 0;
}

.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em 0 3em;
}
.b-section_outer-pad.b-section_collapsed-top .b-section__wrap-inner {
  padding-top: 3em;
}

.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 3em 0 0em;
}
.b-section_outer-pad.b-section_collapsed-bottom .b-section__wrap-inner {
  padding-bottom: 3em;
}

.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em 0 0em;
}
.b-section_outer-pad.b-section_collapsed-both .b-section__wrap-inner {
  padding-top: 3em;
  padding-bottom: 3em;
}

.b-card {
  margin-top: 0;
  margin-bottom: 2rem;
}

.b-card__headline {
  font-size: 28px;
  font-size: 1.75em;
}

/*-------------------------------------------
## ACF EMBEDS AND SCRIPTS HOLDER
--------------------------------------------*/
.b-script-holder {
  position: relative;
  overflow: hidden;
}
/*-------------------------------------------
## ACF FEATURE CARDS
--------------------------------------------*/
.b-feature-cards {
  align-items: stretch;
}

.b-section__feature-cards_default {
  background-size: cover !important;
  background-position-y: 0 !important;
}
.b-section__feature-cards_default:before {
  display: none;
}

.b-section__feature-cards_photolead {
  padding-top: 25%;
}

.b-feature-cards__photolead {
  height: 60%;
  top: 0;
}
/*-------------------------------------------
## ACF FUNNELING BUTTONS
--------------------------------------------*/
.b-funneling__buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  order: 1;
  margin-top: 2rem;
}

.b-funneling__buttons__button {
  border: none;
  margin-bottom: 0.7rem;
  margin-right: 1%;
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  padding: 0rem 6px;
  min-height: 80px;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b-funneling__buttons__button.b-grid-fixer {
  display: block;
}
.b-funneling__buttons__button:after {
  display: none;
}

.b-funneling__text-side {
  margin-bottom: 0rem;
}

.b-text-side_right {
  order: 3;
}

.b-funneling__subheadline {
  font-size: 32px;
  font-size: 2rem;
}

/*-------------------------------------------
  IMAGE PARAGRAPHS
--------------------------------------------*/
.b-section_image-para .b-columns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.b-section_image-para .b-columns.b-columns_middle {
  align-items: center;
}

.b-image-para__image {
  order: 1;
  flex: 1 1 25%;
  padding: 20px;
  max-width: 215px;
}
.b-image-para__image.b-image-para__image_right {
  order: 3;
}

.b-image-para__content {
  order: 2;
  flex: 1 1 75%;
  text-align: left;
  padding: 20px 15px;
}

/*-------------------------------------------
## ACF IMPORTANT DATES
--------------------------------------------*/
.b-imp-dates {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2rem;
}

.b-imp-date {
  align-items: flex-start;
}
.b-imp-date:first-child {
  margin-top: 1em;
}

/*-------------------------------------------
## ACF PAGE HEADER HERO
--------------------------------------------*/
.b-section_hero {
  min-height: 475px;
  height: 100%;
}
.b-section_hero:before {
  background: none;
}

.b-section__wrap-outer_hero {
  margin-right: auto;
}

.b-section__wrap-inner_hero {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0) 40%);
}

.b-hero__headline {
  font-size: 56px;
  font-size: 3.5rem;
  text-align: center;
  margin-left: -16%;
}
.b-hero__headline span {
  margin-left: 15%;
}

.b-hero__text {
  width: 50%;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.b-hero__buttons {
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.b-hero__button:last-child {
  margin-bottom: 1rem;
}

/*-------------------------------------------
## ACF Post Type Archive
--------------------------------------------*/
.b-section_posts-archive__buttons {
  margin-bottom: 2rem;
}

.b-posts-archive_cards-layout {
  align-items: stretch;
}
.b-section_posts-archive_cards-layout {
  background-size: cover !important;
  background-position-y: unset !important;
}
.b-section_posts-archive_cards-layout:before {
  display: none;
}
.b-posts-archive_news_feed-layout {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  column-gap: 25px;
  row-gap: 1em;
  grid-auto-rows: minmax(min-content, max-content);
}
.b-posts-archive_news_feed-layout article {
  margin-bottom: 0;
}
.b-posts-archive_news_feed-layout article.b-post_1 {
  margin-bottom: 0;
  grid-row-start: 1;
  grid-row-end: 6;
}
.b-posts-archive_news_feed-layout article.b-post_1 .b-post__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.b-posts-archive_news_feed-layout article.b-post_1 .b-post__meta, .b-posts-archive_news_feed-layout article.b-post_1 .b-post__button {
  display: block;
}
.b-posts-archive_news_feed-layout article.b-post_1 .b-post__headline {
  flex-basis: 70%;
}
.b-posts-archive_news_feed-layout article.b-post_1 .b-post__meta {
  flex-basis: 30%;
  text-align: right;
  line-height: 1;
  margin-bottom: 0.5em;
}
.b-posts-archive_news_feed-layout article.b-post_1 .b-post__text {
  flex-basis: 100%;
}
.b-posts-archive_news_feed-layout article.b-post_1 .b-post__button {
  flex-basis: 100%;
}

/*-------------------------------------------
## ACF QUICK LINKS
--------------------------------------------*/
.b-quicklinks__headline {
  font-size: 24px;
  font-size: 1.5rem;
}

.b-quicklinks__content {
  align-items: center;
}

.b-quicklinks__buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  order: 2;
}

.b-quicklinks__buttons__button {
  border: none;
  margin-bottom: 0.75rem;
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px #0000003D;
}
.b-quicklinks__buttons__button.b-grid-fixer {
  display: block;
  box-shadow: none;
  background: none;
}

/*-------------------------------------------
## ACF QUOTE CAROUSEL
--------------------------------------------*/
.b-quote__body {
  font-size: 24px;
  font-size: 1.5rem;
}

/*-------------------------------------------
## ACF SECTION INTRO TEXT
--------------------------------------------*/
.b-section__wrap-outer_intro {
  padding: 0;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.b-section_intro__subhead {
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: normal;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.b-section_intro__text {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/*-------------------------------------------
## ACF SHORTCODE
--------------------------------------------*/
/*-------------------------------------------
## ACF STATISTICS
--------------------------------------------*/
.b-statistics {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.b-statistic {
  margin-top: 0em;
  padding: 0 0.5rem;
  flex-basis: 25%;
}

.b-statistic__value {
  font-size: 120px;
  font-size: 7.5rem;
}
.b-statistic__value:before {
  max-width: 80%;
}

.b-statistic__label {
  font-size: 20;
  font-size: 1.25rem;
}

/*-------------------------------------------
## ACF TEXT OVER PHOTO
--------------------------------------------*/
.b-section_textphoto {
  min-height: 400px;
}

.b-section__wrap-inner_textphoto {
  padding: 6em 0px 2em;
}
.b-section-textphoto__subtitle {
  font-size: 40px;
  font-size: 2.5rem;
}

.b-textphoto__buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

.b-textphoto__button {
  margin-right: 1em;
}
.b-textphoto__button:last-child {
  margin-right: 0;
  margin-bottom: 1rem;
}

.b-section_textphoto_extra_large {
  min-height: 550px;
}
.no_text {
  min-height: 400px;
}
.no_text .b-section__wrap-inner_textphoto:before {
  background: none;
}
.no_text.b-section_textphoto_extra_large {
  min-height: 550px;
}

/*-------------------------------------------
## ACF TEXT WITH IMAGE COLLAGE
--------------------------------------------*/
.b-section__wrap-inner_text-image-collage {
  padding: 6em 0;
  margin-top: 2em;
}

.b-text-image-collage__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  width: 66%;
}

.b-collage-photo-main {
  flex-basis: 50%;
  padding-right: 5%;
  margin-bottom: 0;
}

.b-collage-photos_img_1 {
  width: auto;
  padding-bottom: 150%;
  position: relative;
}
.b-collage-photos_img_1 img {
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.b-text-image-collage__text {
  flex-basis: 50%;
}

.b-collage-photos {
  position: absolute;
  width: 45%;
  height: 100%;
  max-height: none;
  right: 0;
  top: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.b-collage-photos_img_2 {
  max-width: 60%;
  margin-left: -15%;
  padding-bottom: 38%;
}

.b-collage-photos_img_4 {
  margin-top: 0;
}

/*-------------------------------------------
## ACF TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {
  overflow: hidden;
  overflow-y: visible !important;
}

.b-text-side-image__content {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.b-side-text_left {
  order: 0;
}

.b-side-text_right {
  order: 1;
}

.b-image-side_left {
  order: 0;
}

.b-image-side_right {
  order: 3;
}

.b-side-photos {
  padding-left: 0;
  padding-right: 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.b-side-photo {
  min-width: 0;
  display: block;
  padding-bottom: 73.5%;
}

.b-side-photos_2 .b-side-photo:not(:first-child), .b-side-photos_3 .b-side-photo:not(:first-child), .b-side-photos_4 .b-side-photo:not(:first-child) {
  display: block;
}

.b-side-photos_1 {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
.b-side-photos_1 .b-side-photo {
  flex-basis: 100%;
  margin-bottom: 0em;
  padding-bottom: 78%;
}
.b-side-photos_1.t-1of3 .b-side-photo {
  flex-basis: 100%;
  margin-bottom: 0em;
  padding-bottom: 164%;
}

.b-side-photos_2 .b-side-photo {
  flex-basis: 46%;
}
.b-side-photos_2.text-heavy {
  flex-wrap: wrap;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
.b-side-photos_2.text-heavy .b-side-photo {
  flex-basis: 100%;
}
.b-side-photos_2.text-heavy .b-side-photo:first-child {
  margin-bottom: 8%;
}

.b-side-photos_3 .b-side-photo {
  flex-basis: 46%;
}
.b-side-photos_3 .b-side-photo:first-child {
  margin-bottom: 17%;
}
.b-side-photos_3 .b-side-photo:last-child {
  padding-bottom: 164%;
  break-before: column;
}
.b-side-photos_3 .b-side-photo:last-child .b-side-photo__image {
  max-width: none;
}
.b-side-photos_3.text-heavy {
  flex-wrap: wrap;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
.b-side-photos_3.text-heavy .b-side-photo {
  flex-basis: 100%;
  margin-bottom: 8%;
}
.b-side-photos_3.text-heavy .b-side-photo:last-child {
  break-before: inherit;
  margin-bottom: 0;
  padding-bottom: 78%;
}

.b-side-photos_4 .b-side-photo {
  flex-basis: 46%;
}
.b-side-photos_4 .b-side-photo:first-child {
  margin-bottom: 15%;
}
.b-side-photos_4 .b-side-photo:nth-child(3) {
  margin-bottom: 15%;
}

.b-side-text__headline {
  margin-top: 0;
}

.b-side-text__subheadline {
  font-size: 32px;
  font-size: 2rem;
}

.b-side-text__buttons {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*-------------------------------------------
## WordPress overrides or custom edits
--------------------------------------------*/
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-pullquote,
.wp-block-pullquote.is-style-solid-color,
.wp-block-pullquote:not(.is-style-solid-color) {
  padding: 128px;
}
.wp-block-quote p,
.wp-block-quote.is-style-large p,
.wp-block-pullquote p,
.wp-block-pullquote.is-style-solid-color p,
.wp-block-pullquote:not(.is-style-solid-color) p {
  font-size: 24px;
  font-size: 1.6rem;
  line-height: 40px;
  line-height: 2.5rem;
  letter-spacing: -0.24px;
  letter-spacing: -0.015rem;
}
.wp-block-quote cite,
.wp-block-quote.is-style-large cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color cite,
.wp-block-pullquote:not(.is-style-solid-color) cite {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 40px;
  line-height: 2.5rem;
  letter-spacing: -0.2px;
  letter-spacing: -0.0125rem;
  padding: 0 128px;
  bottom: 60px;
  left: 0;
  position: absolute;
}
.wp-block-getwid-accordion__header {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 26px;
  line-height: 1.625rem;
  letter-spacing: -0.24px;
  letter-spacing: -0.015rem;
}
.wp-block-getwid-accordion__header a,
.wp-block-getwid-accordion__header span {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 26px;
  line-height: 1.625rem;
  letter-spacing: -0.24px;
  letter-spacing: -0.015rem;
}
/*-------------------------------------------
## Single post page
--------------------------------------------*/
.single .entry-header__meta {
  flex-direction: row;
}
.single .entry-header__meta-social {
  margin: 0;
}
/*-------------------------------------------
## Single page (default template)
--------------------------------------------*/
.page-template-default .site-main > .entry-header .entry-header__title-wrap, .page-template-page-nosidebar .site-main > .entry-header .entry-header__title-wrap, .page-template-page-program-filter .site-main > .entry-header .entry-header__title-wrap {
  padding: 40px 95px;
}
/*-------------------------------------------
## Archive (default)
--------------------------------------------*/
.uwsp-archive .post {
  flex-direction: row;
}
.uwsp-archive .post .entry-header {
  flex: 1 1 75%;
  order: 1;
  padding: 0 0 12px 0;
}
.uwsp-archive .post .post-thumbnail-wrapper {
  flex: 1 1 25%;
  order: 2;
}

/*-------------------------------------------
## Sidebar
--------------------------------------------*/
/*-------------------------------------------
## News & Events blogroll
--------------------------------------------*/
.news-events__feature {
  margin-bottom: 36px;
}
.news-events__feature h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 2.5rem;
  letter-spacing: -0.36px;
  letter-spacing: -0.0225rem;
  text-align: center;
}
.news-events__feature .entry-eyebrow {
  text-align: center;
}
.news-events__feature .entry-meta {
  text-align: center;
}
.news-events__feature .post {
  display: flex;
}
.news-events__feature .post .entry-header {
  display: flex;
  flex-direction: column;
  order: 0;
  flex: 0 0 40%;
  background: #492F92;
  padding: 20px;
  margin: 0;
  justify-content: center;
  align-content: center;
}
.news-events__feature .post-thumbnail-wrapper {
  order: 1;
}
.news-events__feature .post-thumbnail-wrapper a,
.news-events__feature .post-thumbnail-wrapper img {
  height: 100%;
}
.news-events__feature .post-thumbnail-wrapper img {
  object-fit: cover;
}
.news-events__feature button {
  width: max-content;
  margin: 0 auto;
  padding: 15px 47px;
}
.news-events__secondary .post {
  margin-bottom: 36px;
}
.news-events__tertiary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-events__tertiary .post {
  flex-direction: row;
  flex: 0 0 calc(50% - 1rem);
}
.news-events__tertiary .post .entry-header {
  flex: 1 1 75%;
  order: 1;
  padding: 0 0 12px 0;
}
.news-events__tertiary .post .post-thumbnail-wrapper {
  flex: 1 1 25%;
  order: 2;
}

/*-------------------------------------------
## "Filter" buttons (they tend to just link away)
--------------------------------------------*/
.uwsp-filter ul {
  flex-direction: row;
}
.uwsp-filter li {
  margin-right: 1rem;
}
.uwsp-filter li:last-child {
  margin-right: 0;
}
.uwsp-filter a {
  min-width: 170px;
  width: auto;
}

/*-------------------------------------------
## Story wall (/category/stories)
--------------------------------------------*/
.story-wall h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  letter-spacing: -0.32px;
  letter-spacing: -0.02rem;
  margin: 0;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
th,
td {
  padding: 1.3em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #8f4ec7;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  width: auto;
}

.main-navigation ul li > ul,
.main-navigation ul .sub-menu-wrap {
  color: #2c3847;
  background: #fff;
  float: left;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
  box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
}

.main-navigation ul li > .sub-menu-wrap {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
.main-navigation ul li > .sub-menu-wrap .menu-content {
  background-color: #492F92;
  padding: 45px;
}
.main-navigation ul li > .sub-menu-wrap .sub-menu-wrap {
  padding: 0.75rem;
  display: none;
}
.main-navigation ul li > .sub-menu-wrap .sub-menu-wrap ul:before {
  display: none;
}
.main-navigation ul li > .sub-menu-wrap .sub-menu li, .main-navigation ul li > .sub-menu-wrap .sub-menu a {
  color: white !important;
  text-transform: none;
}
.main-navigation ul li > .sub-menu-wrap .sub-menu li:hover, .main-navigation ul li > .sub-menu-wrap .sub-menu a:hover {
  color: #FFC425 !important;
}
.main-navigation ul li > .sub-menu-wrap .menu-content > ul:before {
  content: "IN THIS SECTION";
  color: #FFC425;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  display: block;
}
.main-navigation ul li > .sub-menu-wrap .menu-content > ul a {
  padding: 0.5rem 0;
  font-size: 16px;
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.main-navigation ul li > .sub-menu-wrap .menu-content {
  position: relative;
  display: flex;
}
.main-navigation ul li > .sub-menu-wrap .menu-content .menu-headline-wrapper {
  display: block;
  min-width: 255px;
  margin-right: 30px;
}
.main-navigation ul li > .sub-menu-wrap .menu-content h2 {
  color: white;
  font-size: 36px;
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.main-navigation ul li > .sub-menu-wrap .menu-content .cat-wrap .b-buttons-group__button_1 {
  padding: 0.5em 2em;
  font-weight: bold;
  display: inline-block;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
  color: #8f4ec7;
}

.main-navigation ul ul ul {
  top: 0;
}

.main-navigation ul ul a {
  width: 230px;
  padding: 0.75rem 2rem;
}

.main-navigation li {
  width: auto;
  float: left;
  position: relative;
}

.main-navigation a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-navigation .menu-item-has-children > a {
  padding-right: 1.25rem;
  position: relative;
}
.main-navigation .menu-item-has-children > a:before {
  content: "";
  position: absolute;
  bottom: -22px;
  transform: translateX(-50%);
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #492F92;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.main-navigation .menu-item-has-children > a:after {
  display: none;
}

.primary-menu-wrapper {
  overflow: visible;
  padding: 0;
  z-index: 10;
  height: initial;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: static;
  top: initial;
  background: transparent;
  min-height: auto;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  pointer-events: auto;
}

.primary-menu-wrapper:after {
  display: none;
}

.primary-menu-wrapper .primary-menu-container {
  display: block;
}

.primary-menu-wrapper .menu {
  opacity: 1;
  max-width: none;
}

.primary-menu-wrapper .mobile-search-form-wrapper {
  display: none;
}

.primary-menu-wrapper .dropdown-toggle {
  display: none;
}

.main-navigation.toggled .primary-menu-wrapper ul .sub-menu-wrap {
  display: block;
  position: absolute;
  right: 0;
}

.menu-toggle {
  display: none;
}

.main-navigation ul {
  display: block;
}

/*--------------------------------------------------------------
## Secondary Menu for Overview Pages
--------------------------------------------------------------*/
.b-secondary-header {
  padding-top: 18rem;
}

.b-secondary-header__headline {
  font-size: 56;
  font-size: 3.5rem;
}

/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  width: 50%;
}

.comment-navigation .nav-previous + .nav-next,
.posts-navigation .nav-previous + .nav-next,
.post-navigation .nav-previous + .nav-next {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry > .entry-content > *.alignleft {
  margin-left: calc((100% - 748px) / 2);
}

.hentry > .entry-content > *.alignleft + .alignleft {
  margin-right: 1.5em;
}

.hentry > .entry-content > *.alignright {
  margin-right: calc((100% - 748px) / 2);
}

.hentry > .entry-content > *.alignright + .alignrignt {
  margin-left: 1.5em;
}

.hentry > .entry-content > *.alignleft, .hentry > .entry-content > *.alignright {
  max-width: 374px;
}

body.page .site-main > .hentry > .entry-content > *.alignleft {
  margin-right: 1.5em;
  margin-left: calc((100% - 938px) / 2);
}

body.page .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
  margin-left: 1.5em;
}

body.page .site-main > .hentry > .entry-content > *.alignright {
  margin-left: 1.5em;
  margin-right: calc((100% - 938px) / 2);
}

body.page .site-main > .hentry > .entry-content > *.alignright + .alignright {
  margin-right: 1.5em;
}

body.page .site-main > .hentry > .entry-content > *.alignleft, body.page .site-main > .hentry > .entry-content > *.alignright {
  max-width: 469px;
}

body.blog .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft {
  margin-left: calc((100% - 938px) / 2);
}

body.blog .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
  margin-right: 1.5em;
}

body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignright {
  margin-right: calc((100% - 938px) / 2);
}

body.blog .site-main > .hentry > .entry-content > *.alignright + .alignright, body.search .site-main > .hentry > .entry-content > *.alignright + .alignright, body.archive .site-main > .hentry > .entry-content > *.alignright + .alignright {
  margin-left: 1.5em;
}

body.blog .site-main > .hentry > .entry-content > *.alignleft, body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignright {
  max-width: 469px;
}

body .site-main > .error-404 > *, body .site-main > .no-results > * {
  max-width: 50%;
  margin: 0 auto;
}

body .site-main > .error-404 .page-title,
body .site-main > .no-results .page-title {
  font-size: 150px;
  font-size: 9.375rem;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
  padding: 3.125rem 3.125rem 3.125rem 12.5rem;
}

.comments-area .comment-author .avatar {
  float: none;
  margin: 0;
  position: absolute;
  left: 3.125rem;
  top: 3.125rem;
}

@media screen and (max-width: 1029px) {
  .comments-area .comment-author .fn {
    display: inline-block;
    margin-top: 0.875rem;
  }
}
.comments-area .comment-meta {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1029px) {
  .comments-area .comment-meta:after {
    display: table;
    content: "";
    clear: both;
  }
}
.comment-respond {
  max-width: 50%;
}

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
@media screen and (max-width: 1029px) {
  .site-header.has-custom-color .main-navigation ul ul {
    color: inherit;
  }

  .secondary_menus.has-custom-color .main-navigation ul ul {
    color: inherit;
  }
}
.site-branding .custom-logo-link img {
  max-width: none;
}

.site-header {
  position: relative;
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.main-navigation-wrapper {
  position: relative;
}
.main-navigation-wrapper .mobile_utility {
  display: none !important;
}

.main-navigation-wrapper .main-navigation .menu-item-has-children {
  position: initial;
}
.main-navigation-wrapper .main-navigation .menu-item-has-children > a {
  padding: 1rem 1.25rem;
}
.main-navigation-wrapper .main-navigation .nav-menu li {
  border-bottom: none;
}
.main-navigation-wrapper .main-navigation li:hover > a {
  color: white;
}
.main-navigation-wrapper .main-navigation li > a {
  padding: 1rem 1.25rem;
  color: #492F92;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.main-navigation-wrapper .main-navigation li > a:hover {
  color: white;
}

.primary-menu-wrapper {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.primary-menu-more {
  display: block;
}

.secondary_menus {
  display: flex;
}

.secondary_header {
  display: block;
  background-color: #492F92;
}
.secondary_header .wrapper {
  max-width: 1920px;
  padding: 0 1.5625rem;
  margin: 0 auto;
}
.secondary_header ul {
  display: flex;
  margin: 0;
  position: relative;
  color: white;
  font-size: 0.8rem;
}
.secondary_header ul:before {
  margin-right: 10px;
  content: "Resources for: ";
  padding: 0.65rem 0;
}
.secondary_header ul li a {
  color: white;
  font-size: 0.8rem;
  padding: 0.65rem 0;
  display: block;
}
.secondary_header ul li a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.secondary_header ul li.right {
  margin: 0;
}
.secondary_header ul li.right.first {
  margin-left: auto;
  border-left: 1px solid #36227c;
}
.secondary_header ul li.right a {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-right: 1px solid #36227c;
  font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
.search-toggle {
  display: block;
}
.search-toggle.small {
  display: none;
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer_copyright {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.site-footer_locations {
  display: flex;
}
.site-footer_locations .locations {
  width: 70%;
  gap: 0px 50px;
}
.site-footer_locations .additional-info {
  margin-left: 40px;
  width: 30%;
}
.site-footer_locations .additional-info a {
  white-space: nowrap;
}
.site-footer_locations .additional-info .footer-map {
  width: 100%;
}
.site-footer_locations .additional-info .footer-map img {
  width: 100%;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# STAFF PROFILE GUTENBERG BLOCK
--------------------------------------------------------------*/
/*-------------------------------------------
# ACF LAYOUT BLOCKS
--------------------------------------------*/
/*-------------------------------------------------
## Shared Section Block Styles
---------------------------------------------------*/
.b-section__wrap-inner {
  padding: 5em 0;
}

.b-section_outer-pad {
  margin: 5em 0;
}

.b-section_collapsed-top .b-section__wrap-inner {
  padding-top: 0;
}

.b-section_collapsed-bottom .b-section__wrap-inner {
  padding-bottom: 0em;
}

.b-section_collapsed-both .b-section__wrap-inner {
  padding-top: 0em;
  padding-bottom: 0em;
}

.b-section_outer-pad {
  margin: 3.15em 0;
}

.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em 0 3.15em;
}
.b-section_outer-pad.b-section_collapsed-top .b-section__wrap-inner {
  padding-top: 3.15em;
}

.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 3.15em 0 0em;
}
.b-section_outer-pad.b-section_collapsed-bottom .b-section__wrap-inner {
  padding-bottom: 3.15em;
}

.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em 0 0em;
}
.b-section_outer-pad.b-section_collapsed-both .b-section__wrap-inner {
  padding-top: 3.15em;
  padding-bottom: 3.15em;
}

/*-------------------------------------------
## ACF FEATURE CARDS
--------------------------------------------*/
.b-feature-cards__subtitle {
  font-size: 56px;
  font-size: 3.5rem;
}

.b-feature-cards {
  margin-top: 2rem;
}

/*-------------------------------------------
## ACF FUNNELING BUTTONS
--------------------------------------------*/
/*-------------------------------------------
  IMAGE PARAGRAPHS
--------------------------------------------*/
.b-image-para__image {
  flex: 1 1 20%;
}
.b-image-para__content {
  flex: 1 1 80%;
}

/*-------------------------------------------
## ACF IMPORTANT DATES
--------------------------------------------*/
.b-section__wrap-outer_imp-dates {
  padding: 0 4%;
}

.b-section__wrap-inner_imp-dates {
  padding: 5em 0 2em;
}

.b-imp-dates {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.b-imp-date {
  margin: 0.5rem 0.5rem 3rem;
  align-items: flex-start;
  width: auto;
}
.b-imp-date:first-child {
  margin: 0.5rem;
}

/*-------------------------------------------
## PAGE HEADER HERO
--------------------------------------------*/
.b-section_hero {
  min-height: 660px;
}

.b-hero__headline {
  font-size: 80px;
  font-size: 5rem;
}
/*-------------------------------------------
## ACF Post Type Archive
--------------------------------------------*/
/*-------------------------------------------
## ACF QUOTE CAROUSEL
--------------------------------------------*/
/*-------------------------------------------
## ACF SECTION INTRO TEXT
--------------------------------------------*/
/*-------------------------------------------
## ACF SHORTCODE
--------------------------------------------*/
/*-------------------------------------------
## ACF STATISTICS
--------------------------------------------*/
/*-------------------------------------------
## ACF TEXT OVER PHOTO
--------------------------------------------*/
.b-section_textphoto {
  min-height: 500px;
}

.b-section__wrap-inner_textphoto {
  padding: 6em 0px 2em;
}
.b-section_textphoto_extra_large {
  min-height: 700px;
}
/*-------------------------------------------
## ACF TEXT WITH IMAGE COLLAGE
--------------------------------------------*/
.b-section__wrap-inner_text-image-collage {
  padding: 8em 0;
  margin-top: 4em;
  margin-bottom: 4em;
}

/*-------------------------------------------
## ACF TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-side-photos_3.text-heavy {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.b-side-photos_3.text-heavy .b-side-photo {
  flex-basis: 46%;
  margin-bottom: 0%;
}
.b-side-photos_3.text-heavy .b-side-photo:first-child {
  margin-bottom: 8%;
}
.b-side-photos_3.text-heavy .b-side-photo:last-child {
  break-before: column;
  margin-bottom: 0;
  padding-bottom: 164%;
}

.b-side-text {
  padding: 0;
}

/*-------------------------------------------
## WordPress overrides or custom edits
--------------------------------------------*/
/*-------------------------------------------
## Single post page
--------------------------------------------*/
.single .entry-header::after {
  height: 60%;
  width: 110vw;
  left: calc(-70vw + 50%);
}
.single .post {
  order: 2;
}

/*-------------------------------------------
## Single page (default template)
--------------------------------------------*/
.page-template-default .site-main > .entry-header, .page-template-page-nosidebar .site-main > .entry-header, .page-template-page-program-filter .site-main > .entry-header {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-template-default .site-main > .entry-header .entry-header__title-wrap, .page-template-page-nosidebar .site-main > .entry-header .entry-header__title-wrap, .page-template-page-program-filter .site-main > .entry-header .entry-header__title-wrap {
  flex: 0 0 50%;
  padding: 0 30px 0 95px;
  box-sizing: border-box;
  max-width: 700px;
}
.page-template-default .site-main > .entry-header .post-thumbnail-wrapper, .page-template-page-nosidebar .site-main > .entry-header .post-thumbnail-wrapper, .page-template-page-program-filter .site-main > .entry-header .post-thumbnail-wrapper {
  flex: 0 0 50%;
}
.page-template-default .sidebar, .page-template-page-nosidebar .sidebar, .page-template-page-program-filter .sidebar {
  order: 1;
  padding-right: 50px;
}
.page-template-default .page, .page-template-page-nosidebar .page, .page-template-page-program-filter .page {
  order: 2;
}

/*-------------------------------------------
## Archive (default)
--------------------------------------------*/
.uwsp-archive .uwsp-sidebar {
  margin-top: 80px;
}
.uwsp-archive header.page-header::before {
  width: 110vw;
  left: calc(-50vw + 22%);
}
.uwsp-archive .sidebar {
  order: 0;
}
/*-------------------------------------------
## Sidebar
--------------------------------------------*/
.uwsp-sidebar {
  order: 0;
  padding-right: 50px;
}
/*-------------------------------------------
## News & Events blogroll
--------------------------------------------*/
.news-events {
  margin-top: 1.125rem;
}
.news-events__feature {
  width: 100%;
  left: auto;
  position: relative;
}
.news-events__feature::before {
  content: "";
  position: absolute;
  top: -1.125rem;
  width: 100vw;
  height: 82%;
  background: transparent no-repeat top center;
  background-size: cover;
  filter: grayscale(100%);
  opacity: 0.3;
  left: calc(-50vw + 50%);
  z-index: -1;
}
.news-events__feature .post .entry-header {
  flex: 0 0 calc(100% / 3);
}
.news-events__secondary {
  display: flex;
  justify-content: space-between;
}
.news-events__secondary .entry-header {
  padding-bottom: 3.75rem;
  margin-bottom: 0;
}
.news-events__secondary .post {
  flex: 0 0 calc((100% / 3) - 1rem);
  margin: 0;
  position: relative;
}
.news-events__secondary button {
  position: absolute;
  bottom: 0.9375rem;
}
/*-------------------------------------------
## "Filter" buttons (they tend to just link away)
--------------------------------------------*/
/*-------------------------------------------
## Story wall (/category/stories)
--------------------------------------------*/
.story-wall {
  margin-top: 2rem;
}
.story-wall::before, .story-wall::after {
  content: "";
  display: table;
}
.story-wall::after {
  clear: both;
}
.story-wall > * {
  width: calc(50% - 1rem);
}
.story-wall > *:nth-child(odd) {
  float: left;
}
.story-wall > *:nth-child(even) {
  float: right;
}
.story-wall .page-header::before {
  width: 110vw;
  left: calc(-30vw + 50%);
}
.story-wall .post {
  padding-bottom: 130px;
}
.story-wall .post .entry-meta {
  display: none;
}
.story-wall .post .post-thumbnail-wrapper {
  margin-bottom: 0;
}
.story-wall .post .entry-header {
  position: absolute;
  bottom: 0;
}
.story-wall .post .entry-blurb {
  margin: 25px 0 0 0;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
/*-------------------------------------------

--------------------------------------------*/
