// INVERSE
.inverse_text {
  color: $white !important;

  a, a:visited {
    color: $white !important;
    //text-decoration: inherit;
  
    /* on hover */
    &:hover, &:focus {
      color: $white !important;
    }
  
    /* on click */
    &:active {
  
    }
  
    /* mobile tap color */
    &:link {
      /*
      this highlights links on iPhones/iPads.
      so it basically works like the :hover selector
      for mobile devices.
      */
      -webkit-tap-highlight-color : rgba( 255, 255, 255, 0.3 ) !important;
    }
  }
}
.inverse_text * {
    color: $white !important;
}
