.b-section_quotes {
    //DISPLAY
    .slick-track {
        @include flex(row);
    }
    // CONTROLS
    .slick-prev, .slick-next {
        z-index: 20;

        &:before {
            color: #D9B137;
            opacity: 1;
        }
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next {
        right: -10px;
    }
}