/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// Located in partials > _typography.scss

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
th,
td {
    padding: 1.3em;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Located in modules > _forms.scss

 /*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #8f4ec7;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
  .main-navigation {
    //font-size: 17px;
    //font-size: 1.0625rem;
  }



  .main-navigation ul {
    width: auto;
  }


  .main-navigation ul li > ul,
  .main-navigation ul .sub-menu-wrap {
    color: #2c3847;
    background: #fff;
    float: left;
    position: absolute;
    // top: 120%;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
            box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
  }

  .main-navigation ul li > .sub-menu-wrap  {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    .menu-content {
      background-color: $primary-color;
      padding: 45px;
    }
    .sub-menu-wrap {
      padding: .75rem;
      display: none;
      ul {
        &:before {
          display: none;
        }
      }
    }
    .sub-menu {
      li, a {
        color: white !important;
        text-transform: none;
        &:hover {
          color: $secondary-color !important;
        }
      }
    }
    
    .menu-content > ul {
      &:before {
        content: 'IN THIS SECTION';
        color: $secondary-color;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        display: block;
      }
      a {
        padding: 0.5rem 0;
        font-size: 16px;
        font-family: $sans-serif;
        font-weight: normal;
      }
    }
    .menu-content {
      position: relative;
      display: flex;
      .menu-headline-wrapper {
        display: block;
        min-width: 255px;
        margin-right: 30px;
      }
      h2 {
        color: white;
        font-size: 36px;
        font-family: $sans-serif;
        margin-bottom: 20px;
      }

      .cat-wrap {
        .b-buttons-group__button_1 {
          padding: 0.5em 2em;
          font-weight: bold;
          display: inline-block;
        }
      }

    }
  }

  .main-navigation .current_page_item > a,
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_ancestor > a,
  .main-navigation .current-menu-ancestor > a {
    color: #8f4ec7;
  }

  .main-navigation ul ul ul {
    top: 0;
    // visibility: hidden;
  }

  .main-navigation ul ul a {
    width: 230px;
    padding: .75rem 2rem;
  }

  .main-navigation li {
    width: auto;
    float: left;
    position: relative;
  }

  .main-navigation a {
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
  }

  .main-navigation .menu-item-has-children > a {
    padding-right: 1.25rem;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: -22px;
      transform: translateX(-50%);
      left: 50%;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $button-color;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease;
    }
  }

  .main-navigation .menu-item-has-children > a:after {
    // display: inline-block;
    // display: none;
      // content: '';
      // position: absolute;
      // right: -5px;
      // transform: translateX(-50%);
      // width: 0; 
      // height: 0; 
      // border-left: 10px solid transparent;
      // border-right: 10px solid transparent;
      // border-bottom: 10px solid $button-color;
      // visibility: hidden;
      // opacity: 0;
      // transition: all .3s ease;

  }

  .primary-menu-wrapper {
    overflow: visible;
    padding: 0;
    z-index: 10;
    height: initial;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: static;
    top: initial;
    background: transparent;
    min-height: auto;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    pointer-events: auto;
  }

  .primary-menu-wrapper:after {
    display: none;
  }

  .primary-menu-wrapper .primary-menu-container {
    display: block;
  }

  .primary-menu-wrapper .menu {
    opacity: 1;
    max-width: none;
  }

  .primary-menu-wrapper .mobile-search-form-wrapper {
    display: none;
  }

  .primary-menu-wrapper .dropdown-toggle {
    display: none;
  }

  // .main-navigation.toggled .primary-menu-wrapper ul ul {
  .main-navigation.toggled .primary-menu-wrapper ul .sub-menu-wrap {
    display: block;
    position: absolute;
    right: 0;
  }

  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
/*--------------------------------------------------------------
## Secondary Menu for Overview Pages
--------------------------------------------------------------*/
.b-secondary-header {
    padding-top: 18rem;
}
.b-secondary-header__image {

    &:after {}

    .post-thumbnail {
            img {}
    }
}
.b-secondary-header__headline {
    font-size: 56;
    font-size: 3.5rem;
}
.b-secondary-header-menubox {}
.b-secondary-header-menubox__page-title {}
.b-secondary-header-menubox__menu-container {}
.b-secondary-header-menubox__menu {
    .menu-item {

        a {}
    }
}
/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/
  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
    width: 50%;
  }

  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    width: 50%;
  }

  .comment-navigation .nav-previous + .nav-next,
  .posts-navigation .nav-previous + .nav-next,
  .post-navigation .nav-previous + .nav-next {
    margin-top: 0;
  }


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
// Located in partials > _widgets.scss

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry > .entry-content > *.alignleft {
    margin-left: calc((100% - 748px) / 2);
}
.hentry > .entry-content > *.alignleft + .alignleft {
    margin-right: 1.5em;
}
.hentry > .entry-content > *.alignright {
    margin-right: calc((100% - 748px) / 2);
}
.hentry > .entry-content > *.alignright + .alignrignt {
    margin-left: 1.5em;
}
.hentry > .entry-content > *.alignleft, .hentry > .entry-content > *.alignright {
    max-width: 374px;
}
body.page .site-main > .hentry > .entry-content > *.alignleft {
    margin-right: 1.5em;
    margin-left: calc((100% - 938px) / 2);
}
body.page .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
    margin-left: 1.5em;
}
body.page .site-main > .hentry > .entry-content > *.alignright {
    margin-left: 1.5em;
    margin-right: calc((100% - 938px) / 2);
}
body.page .site-main > .hentry > .entry-content > *.alignright + .alignright {
    margin-right: 1.5em;
}
body.page .site-main > .hentry > .entry-content > *.alignleft, body.page .site-main > .hentry > .entry-content > *.alignright {
    max-width: 469px;
}
body.blog .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft {
    margin-left: calc((100% - 938px) / 2);
}
body.blog .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.search .site-main > .hentry > .entry-content > *.alignleft + .alignleft, body.archive .site-main > .hentry > .entry-content > *.alignleft + .alignleft {
    margin-right: 1.5em;
}
body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignright {
    margin-right: calc((100% - 938px) / 2);
  }
body.blog .site-main > .hentry > .entry-content > *.alignright + .alignright, body.search .site-main > .hentry > .entry-content > *.alignright + .alignright, body.archive .site-main > .hentry > .entry-content > *.alignright + .alignright {
    margin-left: 1.5em;
}
body.blog .site-main > .hentry > .entry-content > *.alignleft, body.blog .site-main > .hentry > .entry-content > *.alignright, body.search .site-main > .hentry > .entry-content > *.alignleft, body.search .site-main > .hentry > .entry-content > *.alignright, body.archive .site-main > .hentry > .entry-content > *.alignleft, body.archive .site-main > .hentry > .entry-content > *.alignright {
    max-width: 469px;
}
body .site-main > .error-404 > *, body .site-main > .no-results > * {
    max-width: 50%;
    margin: 0 auto;
}
body .site-main > .error-404 .page-title,
body .site-main > .no-results .page-title {
    font-size: 150px;
    font-size: 9.375rem;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
    padding: 3.125rem 3.125rem 3.125rem 12.5rem;
}
.comments-area .comment-author .avatar {
    float: none;
    margin: 0;
    position: absolute;
    left: 3.125rem;
    top: 3.125rem;
}
@media screen and (max-width: 1029px) {
  .comments-area .comment-author .fn {
    display: inline-block;
    margin-top: .875rem;
  }
}
.comments-area .comment-meta {
    margin-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media screen and (max-width: 1029px) {
  .comments-area .comment-meta:after {
    display: table;
    content: '';
    clear: both;
  }
}
.comment-respond {
    max-width: 50%;
  }

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
@media screen and (max-width: 1029px) {
  .site-header.has-custom-color .main-navigation ul ul {
    color: inherit;
  }
  .secondary_menus.has-custom-color .main-navigation ul ul {
    color: inherit;
  }
}

.site-branding .custom-logo-link img {
  max-width: none;
}

.site-header {
  position: relative;
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.main-navigation-wrapper {
  position: relative;
  .mobile_utility {
    display: none !important;
  }
}

.main-navigation-wrapper {

  .main-navigation {
    .menu-item-has-children {
      position: initial;
    }
    .menu-item-has-children > a {
      padding: 1rem 1.25rem;
      // text-transform: none;
    }
    .nav-menu li {
      border-bottom: none;
    }
    li {
      &:hover {
        > a {
          color: $primary-color;
        }
      }
      > a {
        padding: 1rem 1.25rem;
        color: $primary-color;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        // text-transform: none;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.main-navigation-wrapper .main-navigation .menu-item-has-children > a {
  &:hover {
    &::after {
      // border-top: 6px solid #fff;
    }
  }
  &::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    position: absolute;
    right: 0;
    top: 44%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    transform: rotate(90deg);
    // border-left: 6px solid transparent;
    // border-right: 6px solid transparent;
    // border-top: 6px solid #492F92;
    transition: all 0.3s ease;
    display: block;
  }
}

.primary-menu-wrapper {
  margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.primary-menu-more {
    display: block;
}

.secondary_menus {
  display: flex;
}

.secondary_header {
  display: block;
  background-color: $primary-color;
  .wrapper {
    max-width: 1920px;
    padding: 0 1.5625rem;
    margin: 0 auto;
  }
  ul {
    display: flex;
    margin: 0;
    position: relative;
    color: white;
    font-size: .8rem;
    &:before {
        margin-right: 10px;
        content: 'Resources for: ';
        padding: 0.65rem 0;
    }
    li {
        a {
            color: white;
            font-size: .8rem;
            padding: 0.65rem 0;
            display: block;
            &:hover {
                text-decoration: none;
                opacity: .8;
            }
        }
        &.right {
            margin: 0;
            &.first {
                margin-left: auto;
                border-left: 1px solid #36227c;
            }
            a {
                padding: 0.5rem 1rem;
                text-transform: uppercase;
                border-right: 1px solid #36227c;
                font-family: $condensed;
                font-size: 16px;
            }
        }
    }
  }
}
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/
.search-toggle {
  display: block;
  &.small {
    display: none;
  }
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
// Fourth Footer
.site-footer_copyright {
    @include flex(row);
    @include flex-justify(space-between);

    .site-info {}
    .footer-utility-menu {
        ul.b-footer-utility {
            li {
                a {}
            }
        }
    }
}
.site-footer_locations {
  display: flex;
    .locations {
      width: 70%;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr;
        gap: 0px 50px;
    }
    .logo-wrap {
      // padding-right: 100px;
    }
    .additional-info {
      margin-left: 40px;
      width: 30%;
      a {
        white-space: nowrap;
      }
      .footer-map {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss

/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss
/*--------------------------------------------------------------
# STAFF PROFILE GUTENBERG BLOCK
--------------------------------------------------------------*/
.b-staff-panel {

    &> .b-columns {}

    &.b-staff-panel_top_intro {
        &> .b-columns {}

        .b-staff-panel__intro {}
    }

    .b-staff-panel__intro {}

    .b-staff-cards {

        > div {}
        article {}
    }

    .b-staff-card {

        .entry-header {

            > .content {}
            .post-thumbnail-wrapper {}
            .post-thumbnail {
                img {}
            }
        }
        .entry-content {

            .entry-title {

                a {}
            }
            .b-staff-card__meta {}

            p, p.b-staff-card__meta {}

            .entry-content-read-more {}
            p:last-of-type {}
        }
    }
}

/*-------------------------------------------
# ACF LAYOUT BLOCKS
--------------------------------------------*/
.site-main_acf-blocks {
}
/*-------------------------------------------------
## Shared Section Block Styles
---------------------------------------------------*/
.b-section {
}
.b-seo-title {}
.b-subhead, .b-section__subtitle {

}
.b-section__text {}
// This is used for horizontal padding;
.b-section__wrap-outer {
}
// This is used for vertical padding;
.b-section__wrap-inner {
    padding: 5em 0;
}
//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
    margin: 5em 0;
}

//Collapse classes
.b-section_collapsed-top {
  .b-section__wrap-inner {
    padding-top: 0;
  }
}
.b-section_collapsed-bottom {
  .b-section__wrap-inner {
    padding-bottom: 0em;
  }
}
.b-section_collapsed-both {
  .b-section__wrap-inner {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}
// Collapse padding on outer-padding sections
.b-section_outer-pad {
  margin: 3.15em 0;
}
.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em 0 3.15em;

  .b-section__wrap-inner {
    padding-top: 3.15em;
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 3.15em 0 0em;

  .b-section__wrap-inner {
    padding-bottom: 3.15em;
  }
}
.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em 0 0em;

  .b-section__wrap-inner {
    padding-top: 3.15em;
    padding-bottom: 3.15em;
  }
}

//common section items
.b-section__title {
}
.b-section__intro {
}



/*-------------------------------------------
## ACF FEATURE CARDS
--------------------------------------------*/
.b-section__feature-cards {}
.b-section__wrap-outer_feature-cards {}
.b-section__wrap-inner_feature-cards {}
.b-feature-cards__title {
}
.b-feature-cards__subtitle {
    font-size: 56px;
    font-size: 3.5rem;

}
.b-feature-cards {
    margin-top: 2rem;
}
.b-feature-card {
}
.b-feature-card__inner {
}
.b-feature-card__image {

  img {
  }
}
.b-feature-card__content {
}
.b-feature-card__headline {
}
.b-feature-card__text {

    p:last-child {
    }

}
.b-feature-card__buttons {
}
.b-feature-card__button {
}
.b-feature-card__button_1 {
}

/*-------------------------------------------
## ACF FUNNELING BUTTONS
--------------------------------------------*/
.b-section_funneling {}
.b-section__wrap-outer_funneling{}
.b-section__wrap-inner_funneling{}
.b-funneling__content {}
.b-funneling__buttons {}
.b-funneling__button {}
//text content
.b-funneling__text-side {}
.b-funneling__headline {}
.b-funneling__subheadline {}
.b-funneling__text {}
.b-funneling__text-buttons {}
.b-funneling__text-button {}

/*-------------------------------------------
  IMAGE PARAGRAPHS
--------------------------------------------*/
.b-section_image-para {

    .b-columns {}
}
.b-section__wrap-outer_image-para {}
.b-section__wrap-inner_image-para {}
.b-image-para__image {
    flex: 1 1 20%;
    img {}
}
.b-image-para__content {
    flex: 1 1 80%;
}
.b-image-para__headline {}
.b-image-para__subhead {}
.b-image-para__text {}


/*-------------------------------------------
## ACF IMPORTANT DATES
--------------------------------------------*/
.b-section_imp-dates {}
.b-section__wrap-outer_imp-dates {
    padding: 0 4%;
}
.b-section__wrap-inner_imp-dates {
    padding: 5em 0 2em;
}
.b-section_imp-dates__headline{}
.b-section_imp-dates__buttons {}
.b-section_imp-dates__button {
}

.b-imp-dates {
    @include flex(row);
    @include flex-justify(space-between);
    align-items: flex-start;
    flex-wrap: wrap;
}
.b-imp-date {
    margin: 0.5rem .5rem 3rem;
    align-items: flex-start;
    width: auto;

    &:first-child {
        margin: .5rem;
    }
}
.b-imp-date__value {}
.b-imp-date__content {}
.b-imp-date__description {}
.b-imp-date__buttons {}
.b-imp-date__button {}

/*-------------------------------------------
## PAGE HEADER HERO
--------------------------------------------*/
.b-section_hero {
    min-height: 660px;
}
.b-section__wrap-outer_hero {
}
.b-section__wrap-inner_hero {
}
.b-hero__headline {
    font-size: 80px;
    font-size: 5rem;
  span {
  }

}
.inverse_text {
  .b-hero__headline, .b-hero__subhead {
  }
}
.b-hero__subhead {
}
.b-hero__buttons {
}
.b-hero__button {
}
.b-hero__button_1 {
}

/*-------------------------------------------
## ACF Post Type Archive
--------------------------------------------*/
// Section Details
.b-section_posts-archive {}
.b-section__wrap-outer_posts-archive {}
.b-section__wrap-inner_posts-archive {}
.b-section_posts-archive__headline {}
.b-section_posts-archive__buttons {}
.b-section_posts-archive__button {}
// Posts Container
.b-posts-archive {}
.b-posts-archive_post {}
.b-posts-archive_page {}
.b-posts-archive_event {}
// Layout/Display Options
.b-posts-archive_cards-layout {
    article {}
}
.b-posts-archive_news_feed-layout {
    article {}
}

/*-------------------------------------------
## ACF QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {}
.b-section__wrap-outer_quotes {}
.b-section__wrap-inner_quotes {}
.b-quotes-carousel {}
.b-quote {}
.b-quote__words {}
.b-quote__body {}
.b-quote__body:before, .b-quote__body:after {}
.b-quote__body:before {}
.b-quote__body:after {}
.b-quote__attributions {}
.b-quote__attribution-text {}
.b-quote__attribution {}

/*-------------------------------------------
## ACF SECTION INTRO TEXT
--------------------------------------------*/
.b-section-intro {
}
.b-section__wrap-outer_intro {}
.b-section__wrap-inner_intro {}

.b-section_intro__headline{
}
.b-section_intro__subhead {}
.b-section_intro__text {}
.b-section_intro__buttons {
}
.b-section_intro__button {
}

.b-section_intro__button_1 {
}
/*-------------------------------------------
## ACF SHORTCODE
--------------------------------------------*/
.b-section_shortcode {}
.b-section__wrap-outer_shortcode {}
.b-section__wrap-inner_shortcode {}
.b-script-holder__shortcode {}

/*-------------------------------------------
## ACF STATISTICS
--------------------------------------------*/
.b-section_statistics {}
.b-section__wrap-outer_statistics {}
.b-section__wrap-inner_statistics {}

.b-section_statistics__headline{

}
.b-section_statistics__buttons {
}
.b-section_statistics__button {
}
.b-section_statistics__button_1 {
}
.b-statistics {}
.b-statistic {}
.b-statistic__value {}
.b-statistic__label {}

/*-------------------------------------------
## ACF TEXT OVER PHOTO
--------------------------------------------*/
.b-section_textphoto {
    min-height: 500px;
}
.b-section__wrap-outer_textphoto {
    //padding: 0 12%;
}
.b-section__wrap-inner_textphoto {
    padding: 6em 0px 2em;

    &:before {}
}
.inverse_text .b-section__wrap-inner_textphoto:before {}
.b-section-textphoto__title {}
.b-section-textphoto__text {}
.b-textphoto__buttons {}
.b-textphoto__button {}
.b-textphoto__button_1 {}
// EXTRA-LARGE OPTION
.b-section_textphoto_extra_large {
    min-height: 700px;

    .b-section__wrap-outer_textphoto {

    }
    .b-section__wrap-inner_textphoto {
        //padding: 6em 0px 4.5em;
    }
}

/*-------------------------------------------
## ACF TEXT WITH IMAGE COLLAGE
--------------------------------------------*/
.b-section_text-image-collage {}
.b-section__wrap-outer_text-image-collage{}
.b-section__wrap-inner_text-image-collage{
    padding: 8em 0;
    margin-top: 4em;
    margin-bottom: 4em;
}
.b-text-image-collage__content {}
.b-collage-photo-main {}
.b-collage-photos_img_1 {
    img{}
}
.b-text-image-collage__text {}
.b-image-collage__headline {}
.b-image-collage__subheadline {}
.b-image-collage__wysiwyg {}
.b-image-collage__buttons {}
.b-image-collage__button {}
.b-collage-photos {}
.b-collage-photos_img {}
.b-collage-photos_img_2 {}
.b-collage-photos_img_3 {}
.b-collage-photos_img_4 {}

/*-------------------------------------------
## ACF TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{

}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {}
.b-side-text_left {}
.b-side-text_right {}
//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}

.b-side-photos_1 {
  .b-side-photo {}

  .b-side-photo:first-child {}

  &.text-heavy {
    .b-side-photo {}
  }
}
.b-side-photos_2 {

  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:last-child {}

  &.text-heavy {
    .b-side-photo {}
    .b-side-photo:first-child {}
  }
}
.b-side-photos_3 {

  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:nth-child(2) {}
  .b-side-photo:last-child {
    .b-side-photo__image{}
  }

  &.text-heavy {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;

    .b-side-photo {
      flex-basis: 46%;
      margin-bottom: 0%;
    }
    .b-side-photo:first-child {
      margin-bottom: 8%;
    }
    .b-side-photo:last-child {
      break-before: column;
      margin-bottom: 0;
      padding-bottom: 164%;
    }
  }

}
.b-side-photos_4 {
  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:nth-child(3) {}
}
.b-side-photo__image{}

// video in place of images
.b-side-video {

    iframe {}
}

//text content
.b-side-text {
  padding: 0;
}
.b-side-text__subheadline{}
.b-side-text__text{}

/*-------------------------------------------
## WordPress overrides or custom edits
--------------------------------------------*/
.wp-block-quote,
.wp-block-quote.is-style-large {

    p {

        &:last-of-type {}
    }

    cite {}

    &::before {}
}

/*-------------------------------------------
## Single post page
--------------------------------------------*/
.single {

    h1 {}

    .entry-header {

        &::after {
            height: 60%;
            width: 110vw;
            left: calc(-70vw + 50%);
        }

        &__cats {

            li {
                &:last-of-type {}
            }
        }

        &__meta {
            &-date {}

            &-social {}
        }

        .post-thumbnail__caption {}
    }

    .site-content {}

    #primary {}

    .post {
        order: 2;
    }

}

/*-------------------------------------------
## Single page (default template)
--------------------------------------------*/
.page-template-default, .page-template-page-nosidebar, .page-template-page-program-filter {

    h1 {}

    .site-main > .entry-header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .entry-header__title-wrap {
            flex: 0 0 50%;
            padding: 0 30px 0 95px;
            box-sizing: border-box;
            max-width: 700px;
        }

        .post-thumbnail-wrapper {
            flex: 0 0 50%;
        }

        .uwsp-breadcrumbs {}
    }

    .sidebar {
        order: 1;
        padding-right: 50px;

        .widget-title {
            &::after {}
        }

        ul {}

        li {
            &:first-of-type {
                a {}
            }
            &:last-of-type {
                a {}
            }
        }

        a {}

        aside {
            &:first-of-type {
                .widget-title {
                    &::after {}
                }
            }

            .widget-title {
                &::after {}
            }
        }
    }

    .page {
        order: 2;
    }

}

/*-------------------------------------------
## Archive (default)
--------------------------------------------*/
.uwsp-archive {

    .uwsp-sidebar {
        margin-top: 80px;
    }

    header.page-header {

        h1 {}

        &::before {
            width: 110vw;
            left: calc(-50vw + 22%);
        }
    }

    .sidebar {
        order: 0;
    }

    &-posts {}

    .post {

        &::before {}

        .entry-header {}

        .entry-title {}

        .post-thumbnail-wrapper {}
    }
}

/*-------------------------------------------
## Sidebar
--------------------------------------------*/
.uwsp-sidebar {
    order: 0;
    padding-right: 50px;

    .widget-title {
        &::after {}
    }

    ul {}

    li {
        &:first-of-type {
            a {}
        }
        &:last-of-type {
            a {}
        }
    }

    a {}

    aside {
        &:first-of-type {
            .widget-title {
                &::after {}
            }
        }

        .widget-title {
            &::after {}
        }
    }
}

/*-------------------------------------------
## News & Events blogroll
--------------------------------------------*/
.news-events {
    margin-top: 1.125rem;

    .post {}

    &__feature {
        width: 100%;
        left: auto;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -1.125rem;
            width: 100vw;
            height: 82%;
            background: transparent no-repeat top center;
            background-size: cover;
            filter: grayscale(100%);
            opacity: .3;
            left: calc(-50vw + 50%);
            z-index: -1;
        }

        .post {

            .entry-header {
                flex: 0 0 calc(100% / 3);
            }
        }
    }

    &__secondary {
        display: flex;
        justify-content: space-between;

        .entry-header {
            padding-bottom: 3.75rem;
            margin-bottom: 0;
        }

        .post {
            flex: 0 0 calc((100% / 3) - 1rem);
            margin: 0;
            position: relative;
        }

        button {
            position: absolute;
            bottom: .9375rem;
        }
    }

    &__tertiary {

        .post {
            &::before {}

            .entry-header {}

            .entry-title {}

            .post-thumbnail-wrapper {}
        }
    }
}

/*-------------------------------------------
## "Filter" buttons (they tend to just link away)
--------------------------------------------*/
.uwsp-filter {}

/*-------------------------------------------
## Story wall (/category/stories)
--------------------------------------------*/
.story-wall {
    margin-top: 2rem;

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }

    > * {
        width: calc(50% - 1rem);

        &:nth-child(odd) {
            float: left;
        }

        &:nth-child(even) {
            float: right;
        }
    }

    .page-header {
        &::before {
            width: 110vw;
            left: calc(-30vw + 50%);
        }
    }

    .post {
        padding-bottom: 130px;

        .entry-meta {
            display: none;
        }

        .post-thumbnail-wrapper {
            margin-bottom: 0;
        }

        .entry-header {
            position: absolute;
            bottom: 0;
        }

        .entry-blurb {
            margin: 25px 0 0 0;
        }
    }

}
