/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
/*-------------------------------------------
GENERAL STYLES
--------------------------------------------*/

body {}

/*-------------------------------------------
# ACF LAYOUT BLOCKS
--------------------------------------------*/
.site-main_acf-blocks {
}
/*-------------------------------------------------
## Shared Section Block Styles
---------------------------------------------------*/
.b-section {
}
// This is used for horizontal padding;
.b-section__wrap-outer {
}
// This is used for vertical padding;
.b-section__wrap-inner {
}
//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
}

//Collapse classes
.b-section_collapsed-top {
  .b-section__wrap-inner {
  }
}
.b-section_collapsed-bottom {
  .b-section__wrap-inner {
  }
}
.b-section_collapsed-both {
  .b-section__wrap-inner {
  }
}
// Collapse padding on outer-padding sections
.b-section_outer-pad.b-section_collapsed-top {

  .b-section__wrap-inner {
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {

  .b-section__wrap-inner {
  }
}
.b-section_outer-pad.b-section_collapsed-both {

  .b-section__wrap-inner {
  }
}

//common section items
.b-section__title {
}
.b-section__intro {
}

/*-------------------------------------------
## ACF FEATURE CARDS
--------------------------------------------*/
.b-section__feature-cards {}
.b-section__wrap-outer_feature-cards {}
.b-section__wrap-inner_feature-cards {}
.b-feature-cards__title {}
.b-feature-cards {
}
.b-feature-card {
}
.b-feature-card__inner {
}
.b-feature-card__image {

  img {
  }
}
.b-feature-card__content {
}
.b-feature-card__headline {
}
.b-feature-card__text {

    p:last-child {
    }

}
.b-feature-card__buttons {
}
.b-feature-card__button {
}
.b-feature-card__button_1 {
}

/*-------------------------------------------
## ACF FUNNELING BUTTONS
--------------------------------------------*/
.b-section_funneling {}
.b-section__wrap-outer_funneling{}
.b-section__wrap-inner_funneling{}
.b-funneling__content {}
.b-funneling__buttons {}
.b-funneling__button {}
//text content
.b-funneling__text-side {}
.b-funneling__headline {}
.b-funneling__subheadline {}
.b-funneling__text {}
.b-funneling__text-buttons {}
.b-funneling__text-button {}

/*-------------------------------------------
  IMAGE PARAGRAPHS
--------------------------------------------*/
.b-section_image-para {

    .b-columns {}
}
.b-section__wrap-outer_image-para {}
.b-section__wrap-inner_image-para {}
.b-image-para__image {

    img {}
}
.b-image-para__content {}
.b-image-para__headline {}
.b-image-para__subhead {}
.b-image-para__text {}

/*-------------------------------------------
## ACF IMPORTANT DATES
--------------------------------------------*/
.b-section_imp-dates {}
.b-section__wrap-outer_imp-dates {}
.b-section__wrap-inner_imp-dates {}
.b-section_imp-dates__headline{}
.b-section_imp-dates__buttons {}
.b-section_imp-dates__button {
}

.b-imp-dates {}
.b-imp-date {}
.b-imp-date__value {}
.b-imp-date__content {}
.b-imp-date__description {}
.b-imp-date__buttons {}
.b-imp-date__button {}

/*-------------------------------------------
## PAGE HEADER HERO
--------------------------------------------*/
.b-section_hero {}
.b-section__wrap-outer_hero {
}
.b-section__wrap-inner_hero {
}
.b-hero__headline {
  span {
  }

}
.inverse_text {
  .b-hero__headline, .b-hero__subhead {}
}
.b-hero__subhead {
}
.b-hero__buttons {
}
.b-hero__button {
}
.b-hero__button_1 {
}

/*-------------------------------------------
## ACF Post Type Archive
--------------------------------------------*/
// Section Details
.b-section_posts-archive {}
.b-section__wrap-outer_posts-archive {}
.b-section__wrap-inner_posts-archive {}
.b-section_posts-archive__headline {}
.b-section_posts-archive__buttons {}
.b-section_posts-archive__button {}
// Posts Container
.b-posts-archive {}
.b-posts-archive_post {}
.b-posts-archive_page {}
.b-posts-archive_event {}
// Layout/Display Options
.b-posts-archive_cards-layout {
    article {}
}
.b-posts-archive_news_feed-layout {
    article {}
}

/*-------------------------------------------
## ACF QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {}
.b-section__wrap-outer_quotes {}
.b-section__wrap-inner_quotes {}
.b-quotes-carousel {}
.b-quote {}
.b-quote__words {}
.b-quote__body {}
.b-quote__body:before, .b-quote__body:after {}
.b-quote__body:before {}
.b-quote__body:after {}
.b-quote__attributions {}
.b-quote__attribution-text {}
.b-quote__attribution {}

/*-------------------------------------------
## ACF SECTION INTRO TEXT
--------------------------------------------*/
.b-section-intro {
}
.b-section__wrap-outer_intro {}
.b-section__wrap-inner_intro {}

.b-section_intro__headline{
}
.b-section_intro__subhead {}
.b-section_intro__text {}
.b-section_intro__buttons {
}
.b-section_intro__button {
}

.b-section_intro__button_1 {
}

/*-------------------------------------------
## ACF SHORTCODE
--------------------------------------------*/
.b-section_shortcode {}
.b-section__wrap-outer_shortcode {}
.b-section__wrap-inner_shortcode {}
.b-script-holder__shortcode {}

/*-------------------------------------------
## ACF STATISTICS
--------------------------------------------*/
.b-section_statistics {}
.b-section__wrap-outer_statistics {}
.b-section__wrap-inner_statistics {}

.b-section_statistics__headline{

}
.b-section_statistics__buttons {
}
.b-section_statistics__button {
}
.b-section_statistics__button_1 {
}
.b-statistics {}
.b-statistic {}
.b-statistic__value {}
.b-statistic__label {}

/*-------------------------------------------
## ACF TEXT OVER PHOTO
--------------------------------------------*/
.b-section_textphoto {
    min-height: 400px;
}
.b-section__wrap-outer_textphoto {
    //padding: 0 12%;
}
.b-section__wrap-inner_textphoto {
    padding: 6em 0px 4.5em;

    &:before {}
}
.inverse_text .b-section__wrap-inner_textphoto:before {}
.b-section-textphoto__title {}
.b-section-textphoto__text {}
.b-textphoto__buttons {}
.b-textphoto__button {}
.b-textphoto__button_1 {}
// EXTRA-LARGE OPTION
.b-section_textphoto_extra_large {
    min-height: 550px;

    .b-section__wrap-outer_textphoto {
        padding: 0 12%;
    }
    .b-section__wrap-inner_textphoto {
        padding: 6em 0px 4.5em;
    }
}
/*-------------------------------------------
## ACF TEXT WITH IMAGE COLLAGE
--------------------------------------------*/
.b-section_text-image-collage {}
.b-section__wrap-outer_text-image-collage{}
.b-section__wrap-inner_text-image-collage{}
.b-text-image-collage__content {}
.b-collage-photo-main {}
.b-collage-photos_img_1 {
    img{}
}
.b-text-image-collage__text {}
.b-image-collage__headline {}
.b-image-collage__subheadline {}
.b-image-collage__wysiwyg {}
.b-image-collage__buttons {}
.b-image-collage__button {}
.b-collage-photos {}
.b-collage-photos_img {}
.b-collage-photos_img_2 {}
.b-collage-photos_img_3 {}
.b-collage-photos_img_4 {}

/*-------------------------------------------
## ACF TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{

}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {}
.b-side-text_left {}
.b-side-text_right {}
//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}

.b-side-photos_1 {
  .b-side-photo {}

  .b-side-photo:first-child {}

  &.text-heavy {
    .b-side-photo {}
  }
}
.b-side-photos_2 {

  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:last-child {}

  &.text-heavy {
    .b-side-photo {}
    .b-side-photo:first-child {}
  }
}
.b-side-photos_3 {

  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:nth-child(2) {}
  .b-side-photo:last-child {
    .b-side-photo__image{}
  }

  &.text-heavy {

    .b-side-photo {}
    .b-side-photo:first-child {}
    .b-side-photo:last-child {}
  }

}
.b-side-photos_4 {
  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:nth-child(3) {}
}
.b-side-photo__image{}

// video in place of images
.b-side-video {
    iframe {}
}

//text content
.b-side-text {}
.b-side-text__subheadline{}
.b-side-text__text{}

/*-------------------------------------------
## WordPress overrides or custom edits
--------------------------------------------*/
.wp-block-quote,
.wp-block-quote.is-style-large {

    p {

        &:last-of-type {}
    }

    cite {}

    &::before {}
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer_locations {
    .logo-wrap { 
      // padding-right: 100px;
    }
}