/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
    ## Post and Comment Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Site Branding / Title
# Main Navigation
# Search Toggle / Modal
# Site Footer
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Blocks
# Getwid Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// Located in partials > _typography.scss

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.mobile_only {
    display: none;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Located in modules > _forms.scss

 /*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.menu {
    list-style: none;
    li {
        margin-right: 12px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.secondary_menus {
    .utility_menu {
        margin-left: auto;
    }
    .menu {

        li {
            margin-right: 0;
            &.menu-item-has-children {
                margin-right: 12px;
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                // font-weight: 600;
            }
        }
    }
}

.main-navigation-wrapper {
    // position: relative;
    .sub-menu-wrap {
        width: 100%;
        right: 0;
        max-width: 845px;
        top: 100%;
        // top: calc(100% + 21px);
    }
    .menu-content {
        margin-top: 21px;
    }
    .cat-wrap {
        .b-buttons-group__button_1 {
            font-size: 14px;
        }
    }
    .hidden-links {
        a:before {
            display: none;
        }
        .sub-menu-wrap {
            display: none;
        }
        li {
            float: none;
        }
        li > a {
            padding: .5rem 1.25rem;
            color: $primary-color !important;
            &:hover {

            }
        }
    }
}
.main-navigation {

    // Secondary menu submenus
    .menu-item-has-children {
        // position: initial;
    }

}

/*--------------------------------------------------------------
## Secondary Menu for Overview Pages
--------------------------------------------------------------*/
.b-secondary-header {
    padding-top: 12rem;
}
.b-secondary-header__image {
    margin-bottom: 3rem;
    bottom: 0rem;
    overflow: hidden;
    height: auto;

    &:after {
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
    }

    .post-thumbnail {

            img {
                width: 100%;
                height: auto;
                transform: translateY(-23%);
            }
    }
}
.b-secondary-header__headline {

    font-size: 48px;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: $condensed;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.b-secondary-header-menubox {
    @include flex(row);
    @include flex-justify(space-between);
}
.b-secondary-header-menubox__page-title {
    flex-basis: 25%;
    border-bottom: none;
    flex-grow: 1;

}
.b-secondary-header-menubox__menu-container {
    flex-grow: 1;
    border-left: 1px solid #ffd35c;
}
.b-secondary-header-menubox__menu {
    @include flex(row);
    @include flex-justify(flex-start);
    flex-wrap: wrap;
    .menu-item {

        a {}
    }
}

/*--------------------------------------------------------------
## Post and Comment Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
// Located in partials > _widgets.scss

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-main {
    padding-left: 95px;
    padding-right: 95px;
}

.hentry > .entry-content > *.alignfull {
    max-width: calc(100% + 95px + 95px);
    margin-left: -95px;
    margin-right: -95px;
}

body.page .site-main > .hentry > .entry-content > *.alignfull {
    max-width: calc(100% + 95px + 95px);
    margin-left: -95px;
    margin-right: -95px;
}
body.blog .site-main > .hentry, body.search .site-main > .hentry, body.archive .site-main > .hentry  {
    @include flex(row);
}
body.blog .site-main > .hentry > .post-thumbnail-wrapper, body.search .site-main > .hentry > .post-thumbnail-wrapper, body.archive .site-main > .hentry > .post-thumbnail-wrapper {
    flex: 1 1 25%;
    order: 2;
}
body.blog .site-main > .hentry > .entry-header, body.search .site-main > .hentry > .entry-header, body.archive .site-main > .hentry > .entry-header  {
    flex: 1 1 75%;
    order: 1;
    padding: 0 0 12px 0;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comment .comment-body,
.comments-area .pingback .comment-body {
    padding: 3.125rem;
}

/*--------------------------------------------------------------
# Site Branding / Title
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Search Toggle / Modal
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
    padding: 3.125rem 95px;
}
// Fourth Footer
.site-footer_copyright {
    @include flex(row);
    @include flex-justify(space-between);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .site-info {
        order: 1;
    }
    .footer-utility-menu {
        order: 2;
        ul.b-footer-utility {
            li {
                width: auto;
                float: left;
                position: relative;
                a {}
            }
        }
    }
}

.site-footer_locations {
    .locations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 30px;
    }

}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss

/*--------------------------------------------------------------
# LATEST POSTS GUTENBERG BLOCK
--------------------------------------------------------------*/
.b-posts-panel {
    position: relative;

    .b-latest-posts__bkg {
        height: 100%;
        max-height: 175px;
    }
    .b-posts-wrapper {
        z-index: 2;
        position: relative;

        .b-latest-posts__intro {

        }
        section.b-columns {
            padding-top: 0;
            margin-top: 1.5rem;
            @include flex-justify(space-evenly);

            &:before {
                top: 10rem;
            }

            & > div {

            }
        }
    }
    article {
        @include flex(column);
        @include flex-justify(flex-start);
        align-items: flex-start;
        border-bottom: none;

        margin-bottom: .75rem;
        //padding: 0 .25rem .75rem;
        a {
            //font-size: 1.2rem;
        }
    }
    .hentry {

        .post-thumbnail-wrapper {
            flex-basis: 100%;
            margin-bottom: 1rem;
            order: 1;
            @include aspect-ratio(16,9);
            border-radius: 0;
            max-width: none;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
            img {
                border-radius: 0px;
            }
        }
        .entry-header {
            flex-basis: 100%;
            order: 2;
            margin: 0;
            margin-bottom: 0;
            padding-right: 16px;

            .entry-title {}
        }
        .entry-meta {
            display: none;
        }
        .entry-content {
            display: block;
            order: 3;
        }
    }
}
/*--------------------------------------------------------------
# STAFF PROFILE GUTENBERG BLOCK
--------------------------------------------------------------*/
.b-staff-panel {

    &> .b-columns {
        @include flex(row);
        @include flex-justify(space-evenly);
    }

    &.b-staff-panel_top_intro {
        &> .b-columns {

        }
        .b-staff-cards {
             @include flex-justify(center);
        }
        .b-staff-panel__intro {
            .has-text-align-center {
                text-align: center;
            }
        }
    }

    .b-staff-panel__intro {
        text-align: left;

        .has-text-align-center {
            text-align: left;
        }
    }

    .b-staff-cards {

        > div {}
        article {}
    }

    .b-staff-card {

        .entry-header {

            > .content {}
            .post-thumbnail-wrapper {}
            .post-thumbnail {
                img {}
            }
        }
        .entry-content {

            .entry-title {

                a {}
            }
            .b-staff-card__meta {}

            p, p.b-staff-card__meta {}

            .entry-content-read-more {}
            p:last-of-type {}
        }
    }
}


/*--------------------------------------------------------------
## Getwid Blocks
--------------------------------------------------------------*/
// Located in partials > _block.scss

/*-------------------------------------------
# ACF LAYOUT BLOCKS
--------------------------------------------*/
.site-main_acf-blocks {
}
/*-------------------------------------------------
## Shared Section Block Styles
---------------------------------------------------*/
.b-section {
}
.b-seo-title {}
.b-subhead, .b-section__subtitle {
    margin-top: 0;
    font-size: 32px;
    font-size: 2rem;
}
.b-section__text {
    margin-bottom: 2.5rem;
}
// This is used for horizontal padding;
.b-section__wrap-outer {
}
// This is used for vertical padding;
.b-section__wrap-inner {
    padding: 3em 0;
}
//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
    margin: 3em 0;
}

//Collapse classes
.b-section_collapsed-top {
  .b-section__wrap-inner {
    padding-top: 0;
  }
}
.b-section_collapsed-bottom {
  .b-section__wrap-inner {
    padding-bottom: 0;
  }
}
.b-section_collapsed-both {
  .b-section__wrap-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
}
// Collapse padding on outer-padding sections
.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em 0 3em;
  .b-section__wrap-inner {
    padding-top: 3em;
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 3em 0 0em;

  .b-section__wrap-inner {
    padding-bottom: 3em;
  }
}
.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em 0 0em;

  .b-section__wrap-inner {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

//common section items
.b-section__title {
}
.b-section__intro {
}
// shared button layout where first button is highlighted and the rest are not
.b-buttons-group {}
.b-buttons-group__button {

  &:after {}

  &:last-child {

  }
}
.b-buttons-group__button_1 {

    &:after {
        // display: none;
    }
}
// CARD DESIGN
.b-card {
    margin-top: 0;
    margin-bottom: 2rem;
}
.b-card__inner {
}
.b-card__resp-image {
    .post-thumbnail-wrapper {}
    img {}

}
.b-card__content {
}
.b-card__headline {
    font-size: 28px;
    font-size: 1.75em;
}
.b-card__text {

    p:last-child {
    }

}
.b-card__buttons {
}
.b-card__button {
}
.b-card__button_1 {
}
/*-------------------------------------------
## ACF EMBEDS AND SCRIPTS HOLDER
--------------------------------------------*/
.b-section_scripts {}
.b-section__wrap-outer_scripts {}
.b-section__wrap-inner_scripts {}
.b-script-holder {
    position: relative;
    overflow: hidden;
  iframe {
  }
}

/*-------------------------------------------
## ACF FEATURE CARDS
--------------------------------------------*/
.b-section__feature-cards {}
.b-section__wrap-outer_feature-cards {}
.b-section__wrap-inner_feature-cards {}
.b-feature-cards__title {}
.b-feature-cards {
    align-items: stretch;
}
.b-feature-card {
    &:first-child {
    }
}
.b-feature-card__inner {
}
.b-feature-card__image {

  img {
  }
}
.b-feature-card__content {}
.b-feature-card__headline {}
.b-feature-card__text {

    p:last-child {
    }

}
.b-feature-card__buttons {}
.b-feature-card__button {
}
.b-feature-card__button_1 {
}
// background version (default) inline overrides
.b-section__feature-cards_default {
    background-size: cover !important;
    background-position-y: 0 !important;

    &:before {
        display: none;
    }
}
//photo lead version
.b-section__feature-cards_photolead {
    padding-top: 25%;
}
.b-feature-cards__photolead {
    height: 60%;
    top: 0;

    &:after {

    }
}
/*-------------------------------------------
## ACF FUNNELING BUTTONS
--------------------------------------------*/
.b-section_funneling {}
.b-section__wrap-outer_funneling{}
.b-section__wrap-inner_funneling{}
.b-funneling__content {}
.b-funneling__buttons {
    @include flex(row);
    @include flex-justify(space-between);
    align-items: stretch;
    flex-wrap: wrap;
    order: 1;
    margin-top: 2rem;
}
.b-funneling__buttons__button {
    border: none;
    margin-bottom: 0.7rem;
    margin-right: 1%;
    font-size: 14px;
    font-size: .875rem;
    position: relative;
    display: block;
    color: $white;
    text-transform: uppercase;
    font-family: $condensed;
    border-radius: 4px;
    padding: 0rem 6px;
    min-height: 80px;
    flex-shrink: 0;
    //internal button content
    @include flex(column);
    @include flex-justify(center);

    &.b-grid-fixer {
        display: block;
    }

    &:after {
        display: none;
    }
}
.b-funneling__buttons_large {
    .b-funneling__buttons__button {

    }
}
//text content
.b-funneling__text-side {
    margin-bottom: 0rem;
}
.b-text-side_right {
    order: 3;
}
.b-funneling__headline {}
.b-funneling__subheadline {
    font-size: 32px;
    font-size: 2rem;
}
.b-funneling__text {}
.b-funneling__text-buttons {}
.b-funneling__text-button {}

/*-------------------------------------------
  IMAGE PARAGRAPHS
--------------------------------------------*/
.b-section_image-para {

    .b-columns {
        @include flex(row);
        align-items: flex-start;

        &.b-columns_middle {
            align-items: center;
        }
    }
}
.b-section__wrap-outer_image-para {}
.b-section__wrap-inner_image-para {}
.b-image-para__image {
    order: 1;
    flex: 1 1 25%;
    padding: 20px;
    max-width: 215px;
    img {}

    &.b-image-para__image_right {
        order: 3;
    }
}
.b-image-para__content {
    order: 2;
    flex: 1 1 75%;
    text-align: left;
    padding: 20px 15px;


}
.b-image-para__headline {

}
.b-image-para__subhead {}
.b-image-para__text {

}

/*-------------------------------------------
## ACF IMPORTANT DATES
--------------------------------------------*/
.b-section_imp-dates {}
.b-section__wrap-outer_imp-dates {}
.b-section__wrap-inner_imp-dates {}
.b-section_imp-dates__headline{}
.b-section_imp-dates__buttons {}
.b-section_imp-dates__button {
}

.b-imp-dates {
    @include flex(row);
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 2rem;
}
.b-imp-date {
    align-items: flex-start;

    &:first-child {
        margin-top: 1em;
    }
}
.b-imp-date__value {}
.b-imp-date__content {}
.b-imp-date__description {}
.b-imp-date__buttons {


}
.b-imp-date__button {}

/*-------------------------------------------
## ACF PAGE HEADER HERO
--------------------------------------------*/
.b-section_hero {
    min-height: 475px;
    height: 100%;
    &:before {
        background: none;
    }
}
.b-section__wrap-outer_hero {
margin-right: auto;
}
.b-section__wrap-inner_hero {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0) 40%);
}
.b-hero__content {

}
.b-hero__headline {
    font-size: 56px;
    font-size: 3.5rem;
    text-align: center;
    margin-left: -16%;

  span {
    margin-left: 15%;
  }

}
.inverse_text {
  .b-hero__headline, .b-hero__subhead {
  }
}
.b-hero__subhead {
}
.b-hero__text {
    width: 50%;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
}
.b-hero__buttons {
    flex-direction: row;
    @include flex-justify(center);
}
.b-hero__button {
    &:last-child {
        margin-bottom: 1rem;
    }
}
.b-hero__button_1 {
}

/*-------------------------------------------
## ACF Post Type Archive
--------------------------------------------*/
// Section Details
.b-section_posts-archive {}
.b-section__wrap-outer_posts-archive {}
.b-section__wrap-inner_posts-archive {}
.b-section_posts-archive__headline {}
.b-section_posts-archive__buttons {
    margin-bottom: 2rem;
}
.b-section_posts-archive__button {}
// Posts Container
.b-posts-archive {}
.b-posts-archive_post {}
.b-posts-archive_page {}
.b-posts-archive_event {}
// Layout/Display Options
.b-posts-archive_cards-layout {
    align-items: stretch;
    article {
        //margin-right: 1%;
        //margin-left: 1%;
    }
}
// Card Layout background version inline overrides
.b-section_posts-archive_cards-layout {
    background-size: cover !important;
    background-position-y: unset !important;
    //background-blend-mode: soft-light;

    &:before {
        display: none;
    }

    .b-section__wrap-outer_posts-archive {}
}

// NEWS FEED LAYOUT OPTION
.b-posts-archive_news_feed-layout {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    //grid-auto-rows: 0fr;
    column-gap: 25px;
    row-gap: 1em;
    grid-auto-rows: minmax(min-content, max-content);

    article {
        margin-bottom: 0;
    }
    article.b-post_1 {
        margin-bottom: 0;
        grid-row-start: 1;
        grid-row-end: 6;
        .b-post__content {
            @include flex(row);
            flex-wrap: wrap;
        }
        .b-post__meta, .b-post__button {
            display: block;
        }
        .b-post__headline {
            flex-basis: 70%;
        }
        .b-post__meta {
            flex-basis: 30%;
            text-align: right;
            line-height: 1;
            margin-bottom: .5em;
        }
        .b-post__text {
            flex-basis: 100%;
        }
        .b-post__button {
            flex-basis: 100%;
        }
    }
}
/*-------------------------------------------
## ACF QUICK LINKS
--------------------------------------------*/
.b-section_quicklinks {}
.b-section__wrap-outer_quicklinks{}
.b-section__wrap-inner_quicklinks{}
.b-quicklinks__headline {
    font-size: 24px;
    font-size: 1.5rem;
}
.b-quicklinks__content {
    align-items: center;
}
.b-quicklinks__buttons {
    @include flex(row);
    @include flex-justify(space-around);
    align-items: flex-start;
    flex-wrap: wrap;
    order: 2;
}
.b-quicklinks__buttons__button {
    border: none;
    margin-bottom: .75rem;
    //margin-right: 1%;
    font-size: 14px;
    font-size: .875rem;
    position: relative;
    display: block;
    color: $white;
    text-transform: uppercase;
    font-family: $condensed;
    border-radius: 4px;
    padding: 1.5rem;
    box-shadow: 0px 4px 8px #0000003D;

    &.b-grid-fixer {
        display: block;
        box-shadow: none;
        background: none;
    }
}

/*-------------------------------------------
## ACF QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {}
.b-section__wrap-outer_quotes {}
.b-section__wrap-inner_quotes {}
.b-quotes-carousel {}
.b-quote {}
.b-quote__words {}
.b-quote__body {
    font-size: 24px;
    font-size: 1.5rem;
}
.b-quote__body:before, .b-quote__body:after {}
.b-quote__body:before {}
.b-quote__body:after {}
.b-quote__attributions {}
.b-quote__attribution-text {}
.b-quote__attribution {}

/*-------------------------------------------
## ACF SECTION INTRO TEXT
--------------------------------------------*/
.b-section-intro {
}
.b-section__wrap-outer_intro {
    padding: 0;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.b-section__wrap-inner_intro {}

.b-section_intro__headline{
}
.b-section_intro__subhead {
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: normal;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.b-section_intro__text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.b-section_intro__buttons {
}
.b-section_intro__button {
}

.b-section_intro__button_1 {
}

/*-------------------------------------------
## ACF SHORTCODE
--------------------------------------------*/
.b-section_shortcode {}
.b-section__wrap-outer_shortcode {}
.b-section__wrap-inner_shortcode {}
.b-script-holder__shortcode {}

/*-------------------------------------------
## ACF STATISTICS
--------------------------------------------*/
.b-section_statistics {}
.b-section__wrap-outer_statistics {}
.b-section__wrap-inner_statistics {}

.b-section_statistics__headline{

}
.b-section_statistics__buttons {
}
.b-section_statistics__button {
}
.b-section_statistics__button_1 {
}
.b-statistics {
    @include flex(row);
    align-items: flex-start;
    @include flex-justify(space-evenly);
    flex-wrap: wrap;
}
.b-statistic {
    margin-top: 0em;
    padding: 0 .5rem;
    flex-basis: 25%;
}
.b-statistic__value {
    font-size: 120px;
    font-size: 7.5rem;

    &:before {
        max-width: 80%;
    }
}
.b-statistic__label {
    font-size: 20;
    font-size: 1.25rem;
}

/*-------------------------------------------
## ACF TEXT OVER PHOTO
--------------------------------------------*/
.b-section_textphoto {
    min-height: 400px;
}
.b-section__wrap-outer_textphoto {
    //padding: 0 12%;
}
.b-section__wrap-inner_textphoto {
    padding: 6em 0px 2em;

    &:before {}
}
.inverse_text .b-section__wrap-inner_textphoto:before {}
.b-section-textphoto__title {

}
.b-section-textphoto__subtitle {
    font-size: 40px;
    font-size: 2.5rem;
}
.b-section-textphoto__text {}
.b-textphoto__buttons {
    @include flex(row);
}
.b-textphoto__button {
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
.b-textphoto__button_1 {}
// EXTRA-LARGE OPTION
.b-section_textphoto_extra_large {
    min-height: 550px;

    .b-section__wrap-outer_textphoto {
        //padding: 0 12%;
    }
    .b-section__wrap-inner_textphoto {
        //padding: 6em 0px 2.5em;
    }
}
// NO TEXT OPTION
.no_text {
    min-height: 400px;
    .b-section__wrap-inner_textphoto {
        &:before {
            background: none;
        }
    }
    &.b-section_textphoto_extra_large {
        min-height: 550px;
    }
}
/*-------------------------------------------
## ACF TEXT WITH IMAGE COLLAGE
--------------------------------------------*/
.b-section_text-image-collage {}
.b-section__wrap-outer_text-image-collage{}
.b-section__wrap-inner_text-image-collage{
    padding: 6em 0;
    margin-top: 2em;
}
.b-text-image-collage__content {
    @include flex(row);
    width: 66%;
    
}
.b-collage-photo-main {
    flex-basis: 50%;
    padding-right: 5%;
    margin-bottom: 0;
}
.b-collage-photos_img_1 {
    width: auto;
    padding-bottom: 150%;
    position: relative;
    img{
        object-fit: cover;
        max-width: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
}
.b-text-image-collage__text {
    flex-basis: 50%;
}
.b-image-collage__headline {}
.b-image-collage__subheadline {}
.b-image-collage__wysiwyg {}
.b-image-collage__buttons {}
.b-image-collage__button {}
.b-collage-photos {
    position: absolute;
    width: 45%;
    height: 100%;
    max-height: none;
    right: 0;
    top: 0;
    z-index: 1;
    @include flex(column);
    @include flex-justify(space-between);
}

.b-collage-photos_img_2 {
    max-width: 60%;
    margin-left: -15%;
    padding-bottom: 38%;
}
.b-collage-photos_img_3 {
    
}
.b-collage-photos_img_4 {
    margin-top: 0;
}
/*-------------------------------------------
## ACF TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {
  overflow: hidden;
  overflow-y: visible !important;
}
.b-section__wrap-outer_text-side-image{
}
.b-section__wrap-inner_text-side-image{
}

.b-text-side-image__content {
  @include flex-justify(space-between);
}
.b-side-text_left {
  order: 0;
}
.b-side-text_right {
  order: 1;
}

//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}

.b-image-side_left {
  order: 0;
}
.b-image-side_right {
  order: 3;
}
.b-side-photos {
  padding-left: 0;
  padding-right: 0;
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  -webkit-column-gap:   2em;
  -moz-column-gap:      2em;
  column-gap:           2em;
}
.b-side-photo {
  min-width: 0;
  display: block;
  padding-bottom: 73.5%;
}
.b-side-photos_2, .b-side-photos_3, .b-side-photos_4 {
    .b-side-photo:not(:first-child) {
        display: block;
    }
}
.b-side-photo__image{}

.b-side-photos_1 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  .b-side-photo {
    flex-basis: 100%;
    margin-bottom: 0em;
    padding-bottom: 78%
  }

  .b-side-photo:first-child {

  }

  &.t-1of3 {
    .b-side-photo {
      flex-basis: 100%;
      margin-bottom: 0em;
      padding-bottom: 164%
    }
  }
}
.b-side-photos_2 {

  .b-side-photo {
    flex-basis: 46%;
  }
  .b-side-photo:first-child {

  }
  .b-side-photo:last-child {

  }

  &.text-heavy {
    flex-wrap: wrap;
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;

    .b-side-photo {
      flex-basis: 100%;
    }
    .b-side-photo:first-child {
      margin-bottom: 8%;
    }
  }
}
.b-side-photos_3 {

  .b-side-photo {
    flex-basis: 46%;
  }
  .b-side-photo:first-child {
    margin-bottom: 17%;
  }
  .b-side-photo:nth-child(2) {

  }
  .b-side-photo:last-child {
    padding-bottom: 164%;
    break-before: column;
    .b-side-photo__image{
      max-width: none;
    }
  }

  &.text-heavy {
    flex-wrap: wrap;
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;

    .b-side-photo {
      flex-basis: 100%;
      margin-bottom: 8%;
    }
    .b-side-photo:last-child {
      break-before: inherit;
      margin-bottom: 0;
      padding-bottom: 78%;
    }
  }

}
.b-side-photos_4 {
  .b-side-photo {
    flex-basis: 46%;
  }
  .b-side-photo:first-child {
    margin-bottom: 15%;
  }
  .b-side-photo:nth-child(3) {
    margin-bottom: 15%;
  }
}
// video in place of images
.b-side-video {

    iframe {}
}

//text content
.b-side-text {

}
.b-side-text__headline{
  margin-top: 0;

}
.b-side-text__subheadline{
    font-size: 32px;
  font-size: 2rem;
}
.b-side-text__text{}
.b-side-text__buttons {
    @include flex-justify(center);
}
.b-side-text__button {
}
.b-fside-text__button_1 {
}

/*-------------------------------------------
## WordPress overrides or custom edits
--------------------------------------------*/
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-pullquote,
.wp-block-pullquote.is-style-solid-color,
.wp-block-pullquote:not(.is-style-solid-color) {
    padding: 128px;

    p {
        font-size: 24px;
        font-size: 1.6rem;
        line-height: 40px;
        line-height: 2.5rem;
        letter-spacing: -.24px;
        letter-spacing: -.015rem;

        &:last-of-type {}
    }

    cite {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 40px;
        line-height: 2.5rem;
        letter-spacing: -.2px;
        letter-spacing: -.0125rem;
        padding: 0 128px;
        bottom: 60px;
        left: 0;
        position: absolute;
    }

    &::before {}
}

.wp-block-getwid-accordion {

    &__header-wrapper {

        &:first-child {}
    }

    &__header {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 26px;
        line-height: 1.625rem;
        letter-spacing: -.24px;
        letter-spacing: -.015rem;

        a,
        span {
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 26px;
            line-height: 1.625rem;
            letter-spacing: -.24px;
            letter-spacing: -.015rem;
        }

        &-title {}
    }

    &__icon {

        i {}

        &.is-active {}

        &.is-passive {}
    }

    &__content-wrapper {

        &.ui-accordion-content-active {}
    }
}

/*-------------------------------------------
## Single post page
--------------------------------------------*/
.single {

    h1 {}

    .page-parent {}

    .entry-header {

        &__cats {

            li {
                &:last-of-type {}
            }
        }

        &__meta {
            flex-direction: row;

            &-date {}

            &-social {
                margin: 0;
            }
        }

        .post-thumbnail__caption {}
    }

    .site-content {}

    #primary {}

    .post {}

}

/*-------------------------------------------
## Single page (default template)
--------------------------------------------*/
.page-template-default, .page-template-page-nosidebar, .page-template-page-program-filter {

    h1 {}

    .site-main > .entry-header {

        .entry-header__title-wrap {
            padding: 40px 95px;
        }

        .post-thumbnail-wrapper {}

        .uwsp-breadcrumbs {}
    }

    .sidebar {

        .widget-title {
            &::after {}
        }

        ul {}

        li {
            &:first-of-type {
                a {}
            }
            &:last-of-type {
                a {}
            }
        }

        a {}

        aside {
            &:first-of-type {
                .widget-title {
                    &::after {}
                }
            }

            .widget-title {
                &::after {}
            }
        }
    }

    .page {}

}

/*-------------------------------------------
## Archive (default)
--------------------------------------------*/
.uwsp-archive {

    header.page-header {

        h1 {

        }
    }

    &-posts {}

    .post {
        flex-direction: row;

        &::before {}

        .entry-header {
            flex: 1 1 75%;
            order: 1;
            padding: 0 0 12px 0;
        }

        .entry-title {}

        .post-thumbnail-wrapper {
            flex: 1 1 25%;
            order: 2;
        }
    }
}

/*-------------------------------------------
## Sidebar
--------------------------------------------*/
.uwsp-sidebar {

    .widget-title {
        &::after {}
    }

    ul {}

    li {
        &:first-of-type {
            a {}
        }
        &:last-of-type {
            a {}
        }
    }

    a {}

    aside {
        &:first-of-type {
            .widget-title {
                &::after {}
            }
        }

        .widget-title {
            &::after {}
        }
    }
}

/*-------------------------------------------
## News & Events blogroll
--------------------------------------------*/
.news-events {

    .post {}

    &__feature {
        margin-bottom: 36px;

        h2 {
            font-size: 36px;
            font-size: 2.25rem;
            line-height: 40px;
            line-height: 2.5rem;
            letter-spacing: -.36px;
            letter-spacing: -.0225rem;
            text-align: center;
        }

        .entry-eyebrow {
            text-align: center;
        }

        .entry-meta {
            text-align: center;
        }

        a {}

        .post {
            display: flex;

            .entry-header {
                display: flex;
                flex-direction: column;
                order: 0;
                flex: 0 0 40%;
                background: $primary-color;
                padding: 20px;
                margin: 0;
                justify-content: center;
                align-content: center;
            }
        }

        .post-thumbnail-wrapper {
            order: 1;

            a,
            img {
                height: 100%;
            }

            img {
                object-fit: cover;
            }
        }

        button {
            width: max-content;
            margin: 0 auto;
            padding: 15px 47px;

            i {}
        }
    }

    &__secondary {

        .post {
            margin-bottom: 36px;
        }
    }

    &__tertiary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .post {
            flex-direction: row;
            flex: 0 0 calc(50% - 1rem);

            &::before {}

            .entry-header {
                flex: 1 1 75%;
                order: 1;
                padding: 0 0 12px 0;
            }

            .entry-title {}

            .post-thumbnail-wrapper {
                flex: 1 1 25%;
                order: 2;
            }
        }
    }
}

/*-------------------------------------------
## "Filter" buttons (they tend to just link away)
--------------------------------------------*/
.uwsp-filter {

    ul {
        flex-direction: row;
    }

    li {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        min-width: 170px;
        width: auto;
    }
}

/*-------------------------------------------
## Story wall (/category/stories)
--------------------------------------------*/
.story-wall {

    h2 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 40px;
        line-height: 2.5rem;
        letter-spacing: -.32px;
        letter-spacing: -.02rem;
        margin: 0;
    }
}
